= form_with model: operator,
            url: '/reporting/operators/',
            data: { turbo: false },
            method: :put,
            html: {class: "bg-light font-weight-bold text-blue tr test-operator-count"} do |f|
  = f.hidden_field :id, value: operator.id
  = f.hidden_field :school_year, value: params[:school_year] || SchoolYear.current_school_year
  .td.align-middle.bl-1.bc-light
    = image_tag asset_pack_path("media/images/homepage/partenaires/#{operator.logo}"),
            alt: "#{operator.logo.gsub(/-/, ' ').gsub(/\.(jpg|png)$/, '')}",
            height: 30 if operator.logo.present?
    span.ml-2= operator.name
  .td.align-middle.bl-1.bc-light
    = f.number_field :target_count,
                      value: operator.target_count,
                      pattern: "[0-9]*",
                      inputmode: "numeric",
                      class: 'fr-input',
                      id: "target_count_#{operator.id}"
  .td.align-middle.bl-1.bc-light
    = operator.realized_count.dig(params[:school_year].to_s, "total") || 0
  - %w(onsite hybrid online workshop public private).each do |type|
    .td.align-middle.bl-1.bc-light
      = f.number_field "#{type}_count".to_sym,
                      value: operator.realized_count.dig(params[:school_year].to_s, type) || 0,
                      pattern: "[0-9]*",
                      inputmode: "numeric",
                      class: 'fr-input',
                      id: "#{type}_count_#{operator.id}"


  .td.align-middle.bl-1.bc-light
    = f.submit 'Mettre à jour', class: 'fr-btn btn-sm'
