.col-md-6.col-12
  = react_component("SearchSchoolByName", props: { classes: 'col-12',
                                              label: "Etablissement",
                                              required: true,
                                              chosenSchoolName: schools&.first&.name || '',
                                              resourceName: :user,
                                              statisticianDepartment: current_user.department_statistician? && current_user.department})