
= render 'layouts/breadcrumb',
          links: [ ['/', 'Recherche de stage'],
                   [internship_offer_path(@internship_offer), @internship_offer.title],
                   ['', 'Je Postule'] ]

.row.mt-3.fr-px-2w
  .col-md-8
    h1.h6.my-3 Votre candidature

    = render partial: 'internship_applications/form',
             locals: { internship_application: @internship_application,
                       internship_offer: @internship_offer,
                       current_user: current_user}



 
