= render 'dashboard/students/internship_applications/states_presenter',
         internship_application: student_internship_application

= render "dashboard/internship_offers/internship_applications/convention_signed_modal",
         internship_application:student_internship_application
