= render "dashboard/students/internship_applications/show",
          internship_application: @internship_application,
          internship_offer: @internship_application.internship_offer,
          sgid: nil