div id="internship-application-openform" class="" data-internship-application-form-target='containerShowFormLink'
  .actions.d-flex.d-sm-block.d-xs-stick= link_to new_internship_offer_internship_application_path(internship_offer_id: internship_offer.id), class: 'fr-btn' do
    | Je postule


