.d-flex= link_to new_internship_offer_internship_application_path(internship_offer_id: internship_offer.id), data: {turbo: 'false' }, class: 'fr-btn fr-btn--icon-left fr-icon-edit-fill' do
  | Postuler
