- content_for :page_title, "#{t(".page_title", name: @school.name)} | Monstage"

= render partial: 'dashboard/schools/navbar', locals: { school: @school, render_ux_guidelines: true }

h1.h3.py-5 Informations récurrenntes aux conventions de stages

= render partial: "dashboard/schools/internship_agreement_presets/form", locals: { school: @school, internship_agreement_preset: @school.internship_agreement_preset }
