= render 'layouts/breadcrumb',
          links: [ [dashboard_internship_offers_path, 'Mes offres de stage'],
                   ['', 'Déposer une offre de stage']]
.row
  .col
    h1.h2.mb-3 Déposer une offre de stage


= form_with model: @organisation,
            url: dashboard_stepper_organisations_path(@organisation),
            data: {turbo: false},
            method: :post do |form|
  = render "dashboard/stepper/steps", { current_step_number: 1,
                                        total_steps: 4,
                                        current_step_title: "Information sur l'entreprise",
                                        next_step_title: "L'offre de stage" }
  = render "layouts/form_errors", resource: @organisation, resource_name: :internship_offer
  = render 'dashboard/stepper/organisations/form_fields', { resource: @organisation,
                                                            warning_block: true,
                                                            form: form,
                                                            submit_button: true }
