= form_with model: @team_member_invitation,
            scope: :team_member_invitation,
            url: dashboard_team_member_invitations_path(),
            class: 'fr-my-3w',
            data: { turbo: false } do |f|
  = render partial: 'inputs/dsfr_input_field',
           locals: {f: f,
                    object: @team_member_invitation,
                    label: 'Adresse email',
                    field: :invitation_email,
                    required: true}
  p.fr-mt-9v
    = link_to 'Précédent',
              dashboard_team_member_invitations_path,
              class: 'fr-btn fr-btn--secondary fr-mr-2w'
    = f.submit "Inviter un membre de l'équipe",
              class: 'fr-btn fr-icon-add-line fr-btn--icon-left'