= form_with model: @team_member_invitation,
            scope: :team_member_invitation,
            url: dashboard_team_member_invitations_path,
            class: 'fr-my-3w',
            data: { turbo: false } do |f|
  label.fr-label for="team_member_invitation_email" Adresse email
  = f.email_field :invitation_email,
                  class:"fr-input",
                  required: true
  p.fr-mt-9v
    = link_to 'Précédent',
              dashboard_team_member_invitations_path,
              class: 'fr-btn fr-btn--secondary fr-mr-2w'
    = f.submit "Inviter un membre de l'équipe",
              class: 'fr-btn fr-icon-add-line fr-btn--icon-left'