html, body{
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}

.footer{
  border-top: 1px solid $gray-400;
  flex-shrink: 0;
  .footer-content{
    color: rgb(241,241,241);
    a{
      text-decoration: none;
      color: rgb(241,241,241);
    }
  }
  background-color: rgba(51, 51, 51, 0.9);
}

@include media-breakpoint-down(xs) {
  .footer{
    font-size: 12px;
  }
  .font-weight-bold-sm{
    font-weight: bold;
  }
}
@include media-breakpoint-up(sm) {
 .sticky-footer-illustration{
    background-image: url('../images/homepage/explications.svg');
    background-position: top right;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
.fixed-footer{
  box-shadow: 0 2px 20px rgba(0,0,0,.2);
  position: fixed;
  height: auto;
  bottom:0;
  left: 0;
  right: 0;
  z-index: 1;
}
// footer customisation
@include media-breakpoint-down(sm) {
  .h3-bis-home{
    font-size: 1rem;
    line-height: 1.1rem;
  }
}

