html, body{
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.footer{
  border-top: 1px solid $gray-400;
  flex-shrink: 0;
  a{
    color: #444;
    text-decoration: none;
  }
}

