
.custom-navbar {
  position: relative;
}
@include media-breakpoint-up(sm) {
  .homepage .custom-navbar {
    border-bottom: none;
  }
  .custom-navbar{
    border-bottom: 1px solid rgb(235,233,240);
  }
}
@include media-breakpoint-down(xs) {
  .custom-navbar{
    border-bottom: 1px solid rgb(235,233,240);
  }
}

.custom-navbar{
  .nav-link{
    color: $gray-600;
    text-decoration: none;
    border-bottom: 2px solid transparent;

    &:hover,
    &:active,
    &.active{
      color: $blue;
    }
    &:active, &.active{
      border-bottom-color: $blue;
      font-weight: bold;
    }
  }
}

