.area{
  background-image: linear-gradient(to right, rgba(73, 73, 255, 0.0),rgba(73, 73, 255, 0.25), rgba(73, 73, 255, 0.0)), url('../images/pages/remote_internships/remote-header.png');
}
.bg-cover-image-remote-internship{
  background-image: linear-gradient(to right, rgba(73, 73, 255, 0.0),rgba(73, 73, 255, 0.25), rgba(73, 73, 255, 0.0)), url('../images/pages/remote_internships/remote-header.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.remote-internship-mode{
  border: 3px $secondary solid;
  border-radius: 1rem;
  width: 13rem;
  height:13rem;
  float: left;
}

.remote-internship-mode img {
    -webkit-filter: hue-rotate(30deg) grayscale(33%) contrast(150%);
    filter: hue-rotate(30deg) grayscale(33%) contrast(150%);
}
.remote-internship-mode:hover,.remote-internship-mode.active {
  border: 3px $blue solid;
  img {
    filter:  saturate(1)
  }
}

.hidden-links {
  a {
    display: none
  }
}

.table-hover tbody tr:hover > .hidden-links {
  a {
    display: inline
  }
}

tr a.trash-user{
  display: none;
}

tr:hover a.trash-user{
    display: inline;
}
.bg-blue-50 {
  background-color: $blue_50;
  color: $blue;

  .icon-information {
    color: white;
    background-color: $blue_sky;
    padding-right: 10px;
  }
}

#invite-button {
  display: inline-block;
  position: relative;
  top: -25px;
  background-color: white;
}

.grey-icon {
  color: red; //$gray-600;
}

.rounded-0-5 {
  border-radius: 0.5rem;
}

li.teachers-list:last-of-type {
  .green-check-room {
    margin-bottom: 15px;
  }
}

input.teacher-type-radio[type="radio"]:checked+label {
  color: $blue
}

li.list-group-item.teachers .teacher-type-radio:checked {
  background-color: yellow;
}

.blue-overlay {
  background-color: $blue_light;
}

.teachers .radio {
  margin: 0.5rem;

  input[type="radio"] {
    position: absolute;
    opacity: 0;

    +.form-check-label {
      &:before {
        content: '';
        background: $gray_200;
        border-radius: 100%;
        border: 2px solid darken(white, 25%);
        display: inline-block;
        width: 1.2em;
        height: 1.2em;
        position: relative;
        top: -0.2em;
        margin-right: 1em;
        vertical-align: top;
        cursor: pointer;
        text-align: center;
        transition: all 250ms ease;
      }
    }

    &:checked {
      +.form-check-label {

        &:before {
          background-color: $blue_light;
          box-shadow: inset 0 0 0 4px $blue;
        }
      }
    }

    &:focus {
      +.form-check-label {
        &:before {
          outline: none;
          border-color: white;
        }
      }
    }

    &:disabled {
      +.form-check-label {
        &:before {
          box-shadow: inset 0 0 0 4px $blue;
          border-color: darken($blue, 25%);
          background: darken($blue, 25%);
        }
      }
    }

    +.form-check-label {
      &:empty {
        &:before {
          margin-right: 0;
        }
      }
    }
  }
}