.area{
  background-image: linear-gradient(to right, rgba(73, 73, 255, 0.0),rgba(73, 73, 255, 0.25), rgba(73, 73, 255, 0.0)), url('../images/pages/remote_internships/remote-header.png');
}
.bg-cover-image-remote-internship{
  background-image: linear-gradient(to right, rgba(73, 73, 255, 0.0),rgba(73, 73, 255, 0.25), rgba(73, 73, 255, 0.0)), url('../images/pages/remote_internships/remote-header.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.remote-internship-mode{
  border: 3px $secondary solid;
  border-radius: 1rem;
  width: 13rem;
  height:13rem;
  float: left;
}

.remote-internship-mode img {
    -webkit-filter: hue-rotate(30deg) grayscale(33%) contrast(150%);
    filter: hue-rotate(30deg) grayscale(33%) contrast(150%);
}
.remote-internship-mode:hover,.remote-internship-mode.active {
  border: 3px $blue solid;
  img {
    filter:  saturate(1)
  }
}

.hidden-links {
  a {
    display: none
  }
}

.table-hover tbody tr:hover > .hidden-links {
  a {
    display: inline
  }
}

.table th {
  border: none !important;
}

tr a.trash-user{
  display: none;
}

tr:hover a.trash-user{
    display: inline;
}

.dark-grey {
  color: $dark-grey !important;
}

.dark-notice {
  background: $bg-light-blue 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000001A;
  .notice-label{
    max-width: 532px;
  }
}

.btn .disabled {
  background: $input-disabled-bg;
  &:hover{
    cursor: not-allowed;
  }
}

.bg-blue-950 {
  background-color: $blue-france-950;
}

.bg-blue-975 {
  background-color: $blue-france-975;
}

ul.class-room {
  list-style-type: none;
  height:200px;
  overflow:hidden;
  overflow-y:scroll;
  .student-action {
    color: $grey-925
  }
  li:hover, li:hover .student-action  {
    color: $blue-france !important;
    cursor: pointer;
  }
}

.no-scroll-bar::-webkit-scrollbar {
  display: none;
}