.bg-cover-image-remote-internship{
  background-image: url('../images/pages/remote_internships/remote-header.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  }

.remote-internship-mode{
  border: 3px $secondary solid;
  border-radius: 1rem;
  width: 13rem;
  height:13rem;
}

.remote-internship-mode img {
    -webkit-filter: saturate(0);
    filter: saturate(0)
}
.remote-internship-mode:hover,.remote-internship-mode.active {
  border: 3px $blue solid;
  img {
    filter:  saturate(1.1)
  }
}

.hidden-links {
  a {
    display: none
  }
}

.table-hover tbody tr:hover > .hidden-links {
  a {
    display: inline
  }
}