.header-account{
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  ;
}
.header-account.subscription {
  h1.h2 {
    color: var(--grey-50-1000);
  }

  background-color: white;

  .fr-card.fr-card--horizontal {
    background-color: $warm-neutral;
    min-height: 200px;
    margin: 0.4rem 0;
    border: 1px solid transparent;

    &:hover {
      border: 1px solid $blue-france;
    }

  }
}

.btn-clear-city{
  // background-color: $input-bg;
  // border-color: $input-border-color;
  // border-top-right-radius: $input-border-radius;
  // border-bottom-right-radius: $input-border-radius;

  // background-color: $grey-200;
  color: $grey-200 !important;
  border: 1px solid $grey-200 !important;
  // border-bottom: 1px solid #ddd !important;
  box-shadow: none;
  // box-shadow: inset 0 -2px 0 0 #3a3a3a;
}
.actions .btn {
  flex: 1
}

#error_explanation {
   ul {
    list-style-type: none;
   }
   li:before {
    content:  url('../images/puce.svg');
    position:relative;
    left: -12px;
    top: 16px;
  }
}

fieldset.registration,
body.registration {
  margin: 0px 20px;
}
