.header-account{
  padding: 0;
  background: #F6F8FC 0% 0% no-repeat padding-box;
  min-height: 250px;
  .link-account a {
    color: #DA000C
  }
}
.btn-clear-city{
  background-color: $input-bg;
  border-color: $input-border-color;
  border-top-right-radius: $input-border-radius;
  border-bottom-right-radius: $input-border-radius;
}
.actions .btn {
  flex: 1
}
