:focus {
  border: 2px dotted $blue;
}

.homepage {
  overflow: hidden;
}

.container-monstage {
  max-width: 1200px;
  margin: auto;
  position: relative;
}
.bg-cover-image-homepage {
  background-color: $blue;
  border-radius: 1rem;
}

h1,
h2,
h3,
h4 {
  font-family: 'Inter', sans-serif;
}
.to-regular {
  font-family: 'Regular', sans-serif;
}

.wider-text {
  font-size: 1.2rem;
}
.bg-blue {
  color: white;
  background-color: $blue;
}

.shrinked-lines {
  line-height: 85%;
}

.extended-lines {
  line-height: 150%;
}

.wrapper {
  overflow-x: auto;
  display: flex;
  -webkit-overflow-scrolling: touch;
}

.download-card {
  display: inline-flexbox;
  width: 290px;
  margin-right: 30px;
  height: 450px;
}

.how-to-offers {
  flex-grow: 1;
  overflow-y: auto;
}
.rounded-adjust {
  border-radius: 1rem;
}

.card-shadow {
  box-shadow: 0px 25px 25px -20px rgba(0, 0, 0, 0.25)
}

.h1-text-hero {
  font-weight: 900;
  font-size: 3.10rem;
  margin-bottom: 1rem;
}

.subtitle-hero {
  font-weight: 900;
  font-size: 1rem;
}
.btn-link {
  text-decoration: none !important;
}

.white {
  color: white !important;
}

.btn {
  border-radius: 0.3rem;
  font-weight: normal;
}

.search-form {
  position: relative;
  top: -37px;
}
.fitting {
  object-fit: cover;
  width: 100%
}
.img-almost-fluid {
  max-width: 90%;
  height: auto;
}

.right-flying-email {
  position: absolute;
  width: 118.41px;
  height: 106.41px;
  right : 10%;
  top: -44px;
  z-index: 1;

  background: url("../images/homepage/courrier.png");
  transform: rotate(15deg);
  border-radius: 1rem;
}
.chacun-image-left {
  background: transparent url('../images/homepage/chacun-left.png') top left no-repeat;
  background-size: 100% 100%;
}

.chacun-image-right {
  background: transparent url('../images/homepage/chacun-right.png') top left no-repeat;
  background-size: 100% 100%;
  padding: 0 10px;
}

.trouver-image-left {
  background: transparent url('../images/homepage/carousel/trouver-left.png') top left no-repeat;
  background-size: 100% 100%;
  padding: 5px 0 5px 10px;
}

.trouver-image-right {
  background: transparent url('../images/homepage/carousel/trouver-right.png') top left no-repeat;
  background-size: 100% 100%;
}

.accueillir-image-right {
  background: transparent url('../images/homepage/carousel/accueillir-right.png') top left no-repeat;
  background-size: 100% 100%;
  padding: 5px 0 5px 5px;
}

.accueillir-image-left {
  background: transparent url('../images/homepage/carousel/accueillir-left.png') top left no-repeat;
  background-size: 100% 100%;
  padding: 5px 0 5px 10px;
}

.accompagner-image-right {
  background: transparent url('../images/homepage/carousel/accompagner-right.png') top left no-repeat;
  background-size: 100% 100%;
  padding: 10px 0 10px 0;
}

.accompagner-image-left {
  background: transparent url('../images/homepage/carousel/accompagner-left.png') top left no-repeat;
  background-size: 100% 100%;
  padding: 5px 0 5px 10px;
}

.ms3e-blurry-badge {
  position: left center;
  content: '';
  background-color: $blue;
  background-image: url("../images/homepage/ms3e-big-badge.svg");
  background-repeat: no-repeat no-repeat;
  background-clip: content-box;
  background-size: 22rem;

  background-position-x: 0;
  background-position-y: 60%;
  left: 0px;
  top: 0px;
}

.slide-show {
  position: relative;
  top: 212px;
  z-index: 7
}
.slide-show-videos {
  position: relative;
  top: 0;
  z-index: 7
}

.nav-link.active {
  color: $bg-less-light-blue;
  font-weight: bolder;
}

.navbar-nav-scroll a {
  width: 140px;
}

#navbarScroll.collapse {
  display: none;
}

#navbarScroll.collapse.show {
  display: block;
}


.home-video-frame {
  position: relative;
  padding-bottom: 100%;
  // margin: 25px;
  height: 0;
  // overflow: hidden;
  // margin-top: 50px;

  margin: auto;
}

.home-videos {
  width: 450px;
  height: 450px;
  position: absolute;
  top: 25px;
  left: 25px;
  z-index: 1;
  overflow: hidden;
  // padding: 15px;
}

.big-blue-video-shadow {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 100%;
  height: 100%;
  border-radius: 1.25rem;
  background-color: $blue_border;
}

.circle-list {
  text-align: center;
}

.navigation-pill {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: $gray_300;
}

button.navigation-pill {
  border: 0;
}

.navigation-pill.active {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: $blue_border;
}


@include media-breakpoint-up(md) {
  .text-center-left {
    text-align: left;
  }

  .text-center-right {
    text-align: right;
  }
  .text-md-center-right {
    text-align: right;
  }
  }

  @include media-breakpoint-down(md) {
    .text-md-center-right {
      text-align: center;
    }
}

@include media-breakpoint-up(sm) {
  .big-tagline {
    font-size: 20px;
    line-height: 30px;
  }
.flex-md-column {
    flex-direction: column !important;
  }
.nav-pills-home .nav-link.active {
    border-right: 4px solid #DA000C;
  }
}
@include media-breakpoint-down(sm) {
  .text-center-left {
    text-align: center;
  }

  .text-center-right {
    text-align: center;
  }
  .bg-cover-image-homepage {
    border-radius: 0;
  }

  .ms3e-blurry-badge {
    background: none;
  }

  .changing-order {
    -moz-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
  }
  .subtitle-hero,
  .h1-text-hero {
    line-height: 150%;
    padding: 1rem;
  }
  .navbar-nav-scroll a {
    text-align: right;
  }

  .flex-md-reverse-column {
    flex-direction: column-reverse;
.flex-md-column {
      text-align: center;
      display: block;
.nav-link {
        display: inline-block;
      }
    }
  }
.nav-pills-home .nav-link {
    text-decoration: none;
&.active {
      border-top: 4px solid #DA000C;
      border-right: none;
    }
  }
}

// alert
.bg-covid-19-notice {
  .relative {
    position: relative;
  }
.close {
    opacity: 1;
    position: absolute;
    top: 0;
    right: 0;
  }
}
// pills customization
@include media-breakpoint-down(xs) {
  .bg-covid-19-notice .close {
    right: 5px !important;
    top: 5px !important;
  }
    .text-center-left {
      text-align: center;
    }
}


// bgs
.bg-covid-19-notice {
  background-color: #080091;
}

.bg-light-blue {
  background-color: $blue_light;
}

// nav pills
.nav-pills-home {
  .nav-link {
    border-radius: 0;
  }
.nav-link.active {
    color: #100090;
    font-weight: bold;
    background-color: rgba(17, 0, 145, 0.13);
  }
}
.partners-height {
  min-height: 450px;
}