@include media-breakpoint-up(sm) {
  .big-tagline{
    font-size: 20px;
    line-height: 30px;
  }

  .bg-cover-image-homepage{
    background-image: url('../images/homepage/mon-stage-de-3e-illustration.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .h1-home.text-white-sm,
  .text-white-sm{
    color: #fff;
  }

  .flex-md-column{
    flex-direction: column !important;
  }
  .nav-pills-home{
    border-right: 4px solid #DA000C;
  }
}

@include media-breakpoint-down(sm) {
  .flex-md-reverse-column{
    flex-direction: column-reverse;
    .flex-md-column{
      text-align: center;
      display: block;
      .nav-link{
        display: inline-block;
      }
    }
  }
}



// alert
.bg-covid-19-notice {
  .relative{
    position: relative;
  }
  .close{
    opacity: 1;
    position: absolute;
    top: 0;
    right: 0;
  }
}
// pills customization
@include media-breakpoint-down(xs) {
  .bg-covid-19-notice .close{
    right: -25px!important;
    top: -10px!important;
  }
}


// bgs
.bg-covid-19-notice {
  background-color: #080091;
}

.bg-light-blue{
  background-color: rgb(247,248,252);
}

// nav pills
.nav-pills-home{
  .nav-link{
    border-radius: 0;
  }
  .nav-link.active{
    color: #100090;
    font-weight: bold;
    background-color: rgba(17, 0, 145, 0.13);
  }
}
