body{
  font-family: 'Marianne', 'Arial', sans-serif;
}

:focus-visible {
  border: 2px solid $blue;
}

.no-visible-focus{
  &:focus-visible{
    border: none;
  }
}

.fr-raw-link:hover {
  text-decoration: none;
}

.container-homepage .fr-btn:hover {
  color: white
}

.fr-follow__social .fr-btn:hover,
.fr-btn.fr-btn--secondary:hover {
  color: $blue-france;
}

a,
a:hover {
  text-decoration: none;
}

.d-hide-inline-sm {}

.visible-smaller-md {}

.homepage {
  overflow-x: hidden;
}
.fr-card__title.title-cards-in-a-row.home {
  min-height: 5rem;
  a{
    color: var(--text-title-grey);
  }
}

.light-grey-background {
  background-color: $grey-975;
}

.container-monstage {
  max-width: 1200px;
  margin: auto;
  position: relative;
}
.bg-cover-image-homepage {
  background-color: $blue;
}

h1,
h2,
h3,
h4 {
  font-family: 'Marianne',
  'Arial',
  sans-serif;
}
.title-cards-in-a-row {
  display: block;
  min-height: 4.5rem;
}
.desc-cards-in-a-row {
  display: block;
  min-height: 4.5rem;
}
.fr-card__desc.fr-text.home {
  font-size: 1rem;
}

img.covering {
  max-width: 100%;
  overflow: hidden;
  object-fit: contain;
}

.bg-white {
  color: $blue-france;
  background-color: white;
}
.bg-blue {
  color: white;
  background-color: $blue-france;
}
.wrapper {
  overflow-x: auto;
  display: flex;
  -webkit-overflow-scrolling: touch;
}
.btn-link {
  text-decoration: none !important;
}

.white {
  color: white !important;
}
.search-form {
  position: relative;
  top: -42px;
}

.almost-fitting {
  width: 90%
}
.fitting {
  object-fit: cover;
  width: 100%
}
.img-almost-fluid {
  max-width: 90%;
  height: auto;
}

.link-step-1-2 {
  position: absolute;
  top: -140px;
  left: 400px;
  z-index: -1;
}

.link-step-2-3 {
  position: absolute;
  top: -270px;
  left: 440px;
  z-index: -1;
}

.right-flying-email {
  position: absolute;
  width: 118.41px;
  height: 106.41px;
  right : 10%;
  top: -44px;
  z-index: 1;

  background: url("../images/homepage/courrier.png");
  transform: rotate(15deg);
  border-radius: 1rem;
}


.nav-link.active {
  color: $bg-less-light-blue;
  font-weight: bolder;
}

.video-wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 475px;
  max-height: 475px;
}

.video-shadow-frame {
  position: absolute;
  margin: 0 auto;
  top: 0px;
  left: 0px;
  width: 450px;
  height: 450px;
}

.video-shadow {
  background-color: $blue;
  margin: 25px 0 0 25px;
  z-index: 2;
  width: 450px;
  height: 450px;
  }

  .video-responsive {
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
  }

  .video-responsive::before {
    display: block;
    content: "";
    padding-top: 100%;
    margin: auto;
}

.video-responsive-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
@include media-breakpoint-up(md) {
  .sticky-top-customed {
    @supports (position: sticky) {
      position: sticky;
      top: 0;
      z-index: $zindex-sticky;
    }
  }
  .text-center-left {
    text-align: left;
  }

  .text-center-right {
    text-align: right;
  }
  .text-md-center-right {
    text-align: right;
  }
  .flex-md-reverse-column {
    flex-direction: column-reverse !important;
  }
  .video-responsive {
    box-shadow: 25px 25px 0px $blue-france;
  }
  .visible-smaller-md {
    display: none;
  }
}

@include media-breakpoint-down(md) {
  .text-md-center-right {
    text-align: center;
  }
  .text-center-left {
    text-align: left;
  }
}

@include media-breakpoint-up(sm) {
  .big-tagline {
    font-size: 20px;
    line-height: 30px;
  }
  .flex-md-column {
    flex-direction: column !important;
  }
  .nav-pills-home .nav-link.active {
    border-right: 4px solid #DA000C;
    }
}
@include media-breakpoint-down(sm) {
  .d-hide-inline-sm {
    display: none;
  }

  .text-center-left {
    text-align: center;
  }

  .text-center-right {
    text-align: center;
  }
  .bg-cover-image-homepage {
    border-radius: 0;
  }

  .ms3e-blurry-badge {
    background: none;
  }
  .subtitle-hero,
  .h1-text-hero {
    line-height: 150%;
    padding: 1rem;
  }
  .navbar-nav-scroll a {
    text-align: right;
  }

  .flex-md-reverse-column {
    flex-direction: column-reverse;
    .flex-md-column {
      text-align: center;
      display: block;
      .nav-link {
        display: inline-block;
      }
    }
  }
// .nav-pills-home .nav-link {
//     text-decoration: none;
// &.active {
//       border-top: 4px solid #DA000C;
//       border-right: none;
//     }
//   }
}

// alert
.bg-covid-19-notice {
  .relative {
    position: relative;
  }
.close {
    opacity: 1;
    position: absolute;
    top: 0;
    right: 0;
  }
}
// pills customization
@include media-breakpoint-down(xs) {
  .bg-covid-19-notice .close {
    right: 5px !important;
    top: 5px !important;
  }
    .text-center-left {
      text-align: center;
    }
}


// bgs
.bg-covid-19-notice {
  background-color: #080091;
}

.bg-light-blue {
  background-color: $blue_light;
}

// nav pills
.nav-pills-home {
  .nav-link {
    border-radius: 0;
  }
.nav-link.active {
    color: #100090;
    font-weight: bold;
    background-color: rgba(17, 0, 145, 0.13);
  }
}
.partners-height {
  min-height: 450px;
}
.fr-header__tools-links .fr-links-group> :not(:last-child)>.fr-link::after {
  right: -1.5rem;
}
