.bg-hero-homepage{
  background-position: center center, center center;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}

.bg-cover-image-homepage{
  background-image: url('../images/homepage/hero.jpg');
  background-position: center center, center center;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  border-radius: 1rem;
}

h1 {
  font-family: 'Inter', sans-serif;
}

.btn-link {
  text-decoration: none !important;
}

.white {
  color: white !important;
}

.btn {
  border-radius: 0.3rem;
  font-weight: normal;
}

.search-form {
  position: relative;
  top: -30px;
}

.nav-link.active {
  color: $bg-less-light-blue;
  font-weight: bolder;
}
.home-blue-shadow {
  line-height: 2rem;
  color: white;
  font-size: 3rem;
  text-shadow: 5px 5px 0px $blue;
}
@include media-breakpoint-up(sm) {

  .big-tagline{
    font-size: 20px;
    line-height: 30px;
  }


  .flex-md-column{
    flex-direction: column !important;
  }
  .nav-pills-home .nav-link.active{
    border-right: 4px solid #DA000C;
  }
}
@include media-breakpoint-down(sm) {

  .flex-md-reverse-column{
    flex-direction: column-reverse;
    .flex-md-column{
      text-align: center;
      display: block;
      .nav-link{
        display: inline-block;
      }
    }
  }
  .nav-pills-home .nav-link{
    text-decoration: none;
    &.active{
      border-top: 4px solid #DA000C;
      border-right: none;
    }
  }
}



// alert
.bg-covid-19-notice {
  .relative{
    position: relative;
  }
  .close{
    opacity: 1;
    position: absolute;
    top: 0;
    right: 0;
  }
}
// pills customization
@include media-breakpoint-down(xs) {
  .bg-covid-19-notice .close{
    right: 5px!important;
    top: 5px!important;
  }
}


// bgs
.bg-covid-19-notice {
  background-color: #080091;
}

.bg-light-blue{
  background-color: $blue_light;
}

// nav pills
.nav-pills-home{
  .nav-link{
    border-radius: 0;
  }
  .nav-link.active{
    color: #100090;
    font-weight: bold;
    background-color: rgba(17, 0, 145, 0.13);
  }
}
.partners-height{
  min-height: 450px;
}
