.warning-block-wrapper {
  position: sticky;
  top: 0px;
}

.warning-block-wrapper.application {
  margin-bottom: 2rem;
  z-index: 100;
}



.employer {
  .fr-tabs{
    min-height: 3.1rem;
  }
}

tr.even-odd:nth-child(even) {
  background-color: $grey-975;
}

a.heavy-blue-link {
  font-weight: 800;
  color: $blue-france;

  &:hover {
    text-decoration: underline;
  }
}

.fr-tabs__panel.fr-tabs__panel--selected.internships {
  min-height: 10rem;
}

.thin-line-below{
  border-bottom: 1px solid #eee
}

.fat-line-below{
  border-bottom: 4px solid #F9F8F6
}

.employer {
  position: sticky;
  top: 20px;
  z-index: 3;
  background-color: white;
}

.red-up {
  position: absolute;

  width: 240px;
  background-color: $red_custom;
  top: -20px;
  left: 30px;
  border-radius: 0.4rem;
  margin-top: 20rem;
}

.table {
  border-bottom: none !important;
  thead th {
    border-bottom: none !important;
  }
}

a.white {
  text-decoration: underline;
  color: white;
}

.warning-bloc {
  background-color: $bg-light-blue;
  padding: 30px;
  margin-bottom: 10px;
  border-radius: 21px;
  .explanation {
    font-family: 'Helvetica Neue';
    color: $blue;
    font-size: 0.9rem;
    ;
  }
}

.tutors .warning-bloc {
  top: 25px;
}
shrinked-line {
  line-height: 0.7rem;
}

.table.employers {
  width: 100%;
}

table.employer tbody tr td.title {
  width: 33%;
}

.col-label-sorting{
  display: block;
  height: 25px;
}
// sorting headers for dashboard/internship_offers#index
$sortLinkOffset: 15px;
.sort-links{
  $sort-arrow-height: 10px;
  display: inline-block;
  position: absolute;
  top: 35%;
  margin-top: -$sort-arrow-height;
  .currently-sorting{
    color: yellow !important;
  }

  .sort-link{
    position: absolute;
    height: $sort-arrow-height;
    line-height: 8px;
    text-decoration: none;
  }
  .sort-link.active{
    opacity: 1;

  }
}

.map-container-offer {
  height: 263px;
  .leaflet-container {
    height: 100% !important;
  }
}

// sort links container
.min-width-20{
  width: 20px;
  position: relative;
  left: 5px;
}
.min-width-10 {
  width: 10px;
  position: relative;
  left: 5px;
}

// navigation arrows on internship_offers#index
.list-item{
  text-align: center;
  width: 100%;
  text-decoration: none;
}

.list-item .fa,
.list-item .svg-inline--fa{
  font-size: 2rem;
}

.container-downshift{position: relative;}

// custom dimension table for dashboard/internship_offers#index
@include media-breakpoint-up(sm) {
  .table-dashboard-internship-offers {
    table-layout: fixed;
    width: 100%;
    margin-bottom: 0;

    tr {

      th:first-child,
      td:first-child {
        width: 35%
      }

      th,
      td {
        width: 15%;
      }

      td {
        padding: 1rem .75rem;
      }

      td:first-child {
        border-top: none;
      }
    }
  }
}

@include media-breakpoint-up(xs) {
  .internship-item-badge{
    line-height: 1.5;
  }
    .red-up {
      text-align: left;
    }
}

@include media-breakpoint-down(xs) {
  .red-up {
    text-align: center;
  }
}

.legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
}

.siren-error {
  border: 1px solid red;
  color: red;
  background-color: rgb(255, 188, 188);
}

.leaflet-container {
  height: 100vh;
  // min-height: 500px;
}

.popup-custom {
  .leaflet-popup-content-wrapper {
    padding: 0px !important;
    border-radius: 0 !important;
  }
  
  .leaflet-popup-tip-container,
  a.leaflet-popup-close-button {
    display: none !important;
  }
  
  .leaflet-popup-content {
    width: 250px;
    margin: 0 !important;
  }

  .title a {
    color: black;
    font-size: 1.375rem;
    line-height: 1.75rem;
  }
}

.modal-filter {
  .fr-modal__header,
  .fr-modal__footer {
    display: block
  }

  .fr-checkbox-group {
    .fr-label {
      font-weight: 400;
      margin-bottom: 0;
    }
  }
  .fr-checkbox-group:first-child {
    margin-top: 0;
  }
  .hidden-checkbox {
    display: none;
  }
}

.modal-section {
  border-bottom: 1px solid grey;
}

.fr-responsive-img {
  aspect-ratio: auto !important;
}

.toggle-block{
  display: flex;
  .label{
    display: block;
    width: 70px;
    padding-top: 12px;
  }
  .toggle-swap{
    display: block;
    width: 70px;
    height: 50px;
    top: 35px;
    .fr-toggle label{
      top: -40px;
      left: 0px;
    }
  }
}
.fr-toggle input[type=checkbox] {
  margin-top: -5px ;
}