.warning-block-wrapper {
  position: sticky;
  top: 0px;
}

.warning-block-wrapper.application {
  margin-bottom: 2rem;
  z-index: 100;
}

.application .info-covid {
  margin-left: 0 !important;
}

.info-covid {
  position: relative;
  top: 15px;
  font-weight: 900;
  font-size: 0.9rem;
  // line-height: 120%;
  box-shadow: 0px 15px 20px -20px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}
.employer {
  .fr-tabs{
    min-height: 3.1rem;
  }

  .info-covid {
    top: 58px;
  }
}

tr.even-odd:nth-child(even) {
  background-color: $grey-975;
}

a.heavy-blue-link {
  font-weight: 800;
  color: $blue-france;

  &:hover {
    text-decoration: underline;
  }
}

.fr-tabs__panel.fr-tabs__panel--selected.internships {
  min-height: 10rem;
}

.thin-line-below{
  border-bottom: 1px solid #eee
}

.employer {
  position: sticky;
  top: 20px;
  z-index: 3;
  background-color: white;
}

// .white-mask {
//   position: absolute;
//   text-align: left;
//   width: 100%;
//   height: 50px;
//   background-color: white;
//   top: -58px;
// }
.red-up {
  position: absolute;

  width: 240px;
  background-color: $red_custom;
  top: -20px;
  left: 30px;
  border-radius: 0.4rem;
  margin-top: 20rem;
}

.table {
  border-bottom: none !important;
  thead th {
    border-bottom: none !important;
  }
}

a.white {
  text-decoration: underline;
  color: white;
}

.warning-bloc {
  background-color: $bg-light-blue;
  padding: 30px;
  margin-bottom: 10px;
  border-radius: 21px;
  .explanation {
    font-family: 'Helvetica Neue';
    color: $blue;
    font-size: 0.9rem;
    ;
  }

  // .know-more {
  //   font-size: 1rem;
  // }
}

.tutors .warning-bloc {
  top: 25px;
}
shrinked-line {
  line-height: 0.7rem;
}

.table.employers {
  width: 100%;
}

table.employer tbody tr td.title {
  width: 33%;
}

.col-label-sorting{
  display: block;
  height: 25px;
}
// sorting headers for dashboard/internship_offers#index
$sortLinkOffset: 15px;
.sort-links{
  $sort-arrow-height: 10px;
  display: inline-block;
  position: absolute;
  top: 35%;
  margin-top: -$sort-arrow-height;
  .currently-sorting{
    color: yellow !important;
  }

  .sort-link{
    position: absolute;
    height: $sort-arrow-height;
    line-height: 8px;
    text-decoration: none;
  }
  .sort-link.active{
    opacity: 1;

  }
  // .sort-link-up{
  //   top: 0;
  // }
  // .sort-link-down{
  //   top: $sort-arrow-height;
  // }
}

// sort links container
.min-width-20{
  width: 20px;
  position: relative;
  left: 5px;
}
.min-width-10 {
  width: 10px;
  position: relative;
  left: 5px;
}
// .breakable-word{
//   font-weight: bold;
//   font-size: 70%;
//   word-wrap: break-word;
// }

// navigation arrows on internship_offers#index
.list-item{
  text-align: center;
  width: 100%;
  text-decoration: none;
}

// .list-item-label{
//   font-size: .8rem;
// }
.list-item .fa,
.list-item .svg-inline--fa{
  font-size: 2rem;
}

.container-downshift{position: relative;}

.container-connexion-required{
  min-height: 500px;
  background-image: url('../images/internship_offer_show/connection-requise.png');
  background-position: top right;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
}

// custom dimension table for dashboard/internship_offers#index
@include media-breakpoint-up(sm) {
  .table-dashboard-internship-offers {
    table-layout: fixed;
    width: 100%;
    margin-bottom: 0;

    tr {

      th:first-child,
      td:first-child {
        width: 35%
      }

      th,
      td {
        width: 15%;
      }

      td {
        padding: 1rem .75rem;
      }

      td:first-child {
        border-top: none;
      }
    }
  }
}

@include media-breakpoint-up(xs) {
  .internship-item-badge{
    line-height: 1.5;
  }
    .red-up {
      text-align: left;
    }
}

@include media-breakpoint-down(xs) {
  .red-up {
    text-align: center;
  }
}

.legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
}

.siren-error {
  border: 1px solid red;
  color: red;
  background-color: rgb(255, 188, 188);
}
