// custom dimension table for dashboard/internship_offers#index
@include media-breakpoint-up(sm) {
  .table-dashboard-internship-offers{
    table-layout: fixed;
    width: 100%;
    margin-bottom: 0;
    tr{
      th:first-child, td:first-child{ width: 35%}

      th, td { width: 15%; }
      td{
        padding: 1rem .75rem;
      }
    }
  }
}

// sorting headers for dashboard/internship_offers#index
$sortLinkOffset: 15px;
.sort-links{
  $sort-arrow-height: 15px;
  display: inline-block;
  position: absolute;
  top: 50%;
  margin-top: -11px;

  .sort-link{
    position: absolute;
    height: $sort-arrow-height;
    line-height: 8px;
    text-decoration: none;
  }
  .sort-link.active{
    opacity: 1;
  }
  .sort-link-up{
    top: 0;
  }
  .sort-link-down{
    top: $sort-arrow-height;
  }
}

// sort links container
.min-width-20{
  width: 20px;
  position: relative;
  left: 5px;
}
.breakable-word{
  font-weight: bold;
  font-size: 70%;
  word-wrap: break-word;
}


// navigation arrows on internship_offers#index
.list-item{
  text-align: center;
  width: 100%;
  text-decoration: none;
}
 .fa,
 .list-item .svg-inline--fa{
  color: $blue
 }
.list-item-label{
  font-size: .5rem;
  color: $blue
}
@include media-breakpoint-up(xs) {
  .list-item .fa,
  .list-item .svg-inline--fa{
    font-size: 1rem;
  }
}

@include media-breakpoint-up(sm) {
  .list-item .fa,
  .list-item .svg-inline--fa{
    font-size: 2rem;
  }
}
@include media-breakpoint-up(md) {
  .list-item .fa,
  .list-item .svg-inline--fa{
    font-size: 3rem;
  }
}
@include media-breakpoint-up(lg) {
  .list-item .fa,
  .list-item .svg-inline--fa{
    font-size: 4rem;
  }
}


.container-downshift{position: relative;}

.container-connexion-required{
  min-height: 500px;
  background-image: url('../images/internship_offer_show/connection-requise.png');
  background-position: top right;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
}
