.internship-agreement{
  .title{
    padding: 10px 20px;
    font-size: 120;
    color: $blue;
  }
  .bloc{
    padding: 10px;
  }
}


.container-application-with-agreements{
  position: relative;
  .container-application-with-agreements-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,.8);
    z-index: 2;
  }
}

.shaddow-container{
  overflow: hidden;
  padding-bottom: 2em;
  .shadow-element{
    box-shadow: 5px 0px 10px rgba(0,0,0,.1);
  }
}

.fr-high-buttons{
  min-height: 55px;
}

$custom-grey: rgb(51,51,51);

.tool-note {
  position: 'relative';
  border: 2px solid $custom-grey;

  margin-top: 20px;
  padding: 15px 10px;
  border-radius: 5px;
  font-size: 80%;
  .title {
    font-weight: bold;
    padding: 5px 0;
    color: $blue;
  }
}

.tool-note::before {
  content: '';
  width: 10px;
  height: 10px;
  background-color: #fff;
  transform: rotate(-45deg);
  margin-top: 10px;
  margin-left: -17px;
  float: left;
  z-index: 10;
}

.tool-note.active {
  background-color: $custom-grey;
  color: #fff;
  .title {
    color: #fff;
  }
}

.tool-note.active::before {
  border-top: 2px solid $custom-grey;
  border-left: 2px solid $custom-grey;
  background-color: $custom-grey;

}
.tool-note.inactive {
  display: none;
  color: #9F98AA;
  .title {
    color: #9F98AA;
  }
}

.tool-note.inactive:before {
  // border-top: 2px solid #9F98AA;
  // border-left: 2px solid #9F98AA;
}

.tooltip-inner {
  text-align: left !important;
  font-size: 90%
}

.tool-tip {
  color: #D1D5DB;
}

.custom-control {
  z-index: 0;
}

$position-form-field-helper: 55px;
.input-group-custom{
  position: relative;
}
.input-helper{
  display: flex;
  position: absolute;
  height: 40px;
  width: 40px;
  top: 4px;
  right: -55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.3rem;
}
.valid-form-field {
  background: url("../images/green_check.svg") no-repeat top right;
}
.editable-form-field {
  background: url("../images/blue_edit.svg") no-repeat top right;
}
.delegated-form-field{
  background: url("../images/delegated-to-another-one.svg") no-repeat top right;
}
.required-form-field {
  background: url("../images/yellow_sign.svg") no-repeat top right;
}
.trix-header-vanisher {
  trix-toolbar{
    display: none;
  }
  trix-editor:read-only{
    background-color: $secondary;
  }
}
.dot {
  display: inline-block;
  &.dot-success{
    color: $success;
  }
  &.dot-warning{
    color: $warning;
  }
}

.offset-absolute{
  width: 100%;
  position: absolute;
  margin-top: 13px;
  height: 0;

  .gradient-to-white{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
    border-left: 2px solid $light-grey;
    border-right: 2px solid $light-grey;
    border-top: 2px solid $light-grey;
    position: relative;
    left: -2px;
    box-shadow: 3px -10px white, -3px -10px white;
  }
}

.internship-agreement {
  .row {
    margin: 0;
  }
  .offset-2 {
    background-color: white;
    border-left: 2px solid $light-grey;
    border-right: 2px solid $light-grey;
    
  }
  .end-form {
    border-bottom: 2px solid $light-grey;
    padding-top: 1rem;
  }
}

.internship-agreement input:invalid {
  border: 1px solid red;
  background-color: rgb(255, 188, 188);
}