.warning-block-wrapper {
  position: sticky;
  top: 18px;
}

.warning-block-wrapper.application {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  position: sticky;
  margin-bottom: 2rem;
  z-index: 100;

}

.application .info-covid {
  margin-left: 0 !important;
}

.info-covid {
  position: relative;
  top: 15px;
  font-weight: 900;
  font-size: 0.9rem;
  // line-height: 120%;
  box-shadow: 0px 15px 20px -20px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}
.employer .info-covid {
  top: 58px;
}

.white-mask {
  position: absolute;
  text-align: left;
  width: 100%;
  height: 50px;
  background-color: white;
  top: -58px;
}
.red-up {
  position: absolute;
  text-align: center;

  width: 14rem;
  background-color: $red_custom;
  top: -20px;
  left: 1.2rem;
  border-radius: 0.4rem;
  margin-top: 20rem;
  }

  .employer .red-up {
    left: 3rem;
}

a.white {
  text-decoration: underline;
  color: white;
}

.warning-bloc {
  position: relative;
  top: 70px;
  background-color: $bg-light-blue;
  padding: 30px;

  .explanation {
    font-family: 'Helvetica Neue';
    color: $blue;
    font-size: 0.9rem;
    ;
  }

  .know-more {
    font-size: 1rem;
  }
}



// sorting headers for dashboard/internship_offers#index
$sortLinkOffset: 15px;
.sort-links{
  $sort-arrow-height: 15px;
  display: inline-block;
  position: absolute;
  top: 50%;
  margin-top: -11px;
  font-size: larger;
  .currently-sorting{
    color: $blue !important;
  }

  .sort-link{
    position: absolute;
    height: $sort-arrow-height;
    line-height: 8px;
    text-decoration: none;
  }
  .sort-link.active{
    opacity: 1;

  }
  .sort-link-up{
    top: 0;
  }
  .sort-link-down{
    top: $sort-arrow-height;
  }
}

// sort links container
.min-width-20{
  width: 20px;
  position: relative;
  left: 5px;
}
.breakable-word{
  font-weight: bold;
  font-size: 70%;
  word-wrap: break-word;
}

// navigation arrows on internship_offers#index
.list-item{
  text-align: center;
  width: 100%;
  text-decoration: none;
}

.list-item-label{
  font-size: .8rem;
}
.list-item .fa,
.list-item .svg-inline--fa{
  font-size: 2rem;
}

.container-downshift{position: relative;}

.container-connexion-required{
  min-height: 500px;
  background-image: url('../images/internship_offer_show/connection-requise.png');
  background-position: top right;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
}
// custom dimension table for dashboard/internship_offers#index
@include media-breakpoint-up(sm) {
  .table-dashboard-internship-offers {
    table-layout: fixed;
    width: 100%;
    margin-bottom: 0;

    tr {

      th:first-child,
      td:first-child {
        width: 35%
      }

      th,
      td {
        width: 15%;
      }

      td {
        padding: 1rem .75rem;
      }

      td:first-child {
        border-top: none;
      }
    }
  }
}

@include media-breakpoint-up(xs) {
  .internship-item-badge{
    line-height: 1.5;
  }
}

@include media-breakpoint-down(sm) {
  .info-covid {
    position: static;
  }
  .red-up {
    text-align: center;
    left:0;
    margin-right: -50%;
  }
}

.legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
}


