.internship-agreement{
  .title{
    padding: 10px 20px;
    font-size: 120;
    color: $blue;
  }
  .bloc{
    padding: 10px;
  }
}

$custom-grey: rgb(51,51,51);

.tool-note {
  position: 'relative';
  border: 2px solid $custom-grey;

  margin-top: 20px;
  padding: 15px 10px;
  border-radius: 5px;
  font-size: 80%;
  .title {
    font-weight: bold;
    padding: 5px 0;
    color: $blue;
  }
}

.tool-note::before {
  content: '';
  width: 10px;
  height: 10px;
  background-color: #fff;
  transform: rotate(-45deg);
  margin-top: 10px;
  margin-left: -17px;
  float: left;
  z-index: 10;
}

.tool-note.active {
  background-color: $custom-grey;
  color: #fff;
  .title {
    color: #fff;
  }
}

.tool-note.active::before {
  border-top: 2px solid $custom-grey;
  border-left: 2px solid $custom-grey;
  background-color: $custom-grey;

}
.tool-note.inactive {
  display: none;
  color: #9F98AA;
  .title {
    color: #9F98AA;
  }
}

.tool-note.inactive:before {
  // border-top: 2px solid #9F98AA;
  // border-left: 2px solid #9F98AA;
}


.tool-tip {
  color: #D1D5DB;
}

.custom-control {
  z-index: 0;
}

.input-group-custom{
  position: relative;
}
.input-helper{
  display: flex;
  position: absolute;
  height: 40px;
  width: 40px;
  top: 4px;
  right: -55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.3rem;
}
.required-form-field {
  background: url("../images/yellow_sign.svg") no-repeat top right;
}
.trix-header-vanisher {
  trix-toolbar{
    display: none;
  }
  trix-editor:read-only{
    background-color: $secondary;
  }
}
.dot {
  display: inline-block;
  &.dot-success{
    color: $success;
  }
  &.dot-warning{
    color: $warning;
  }
}


.internship-agreement {
  .row {
    margin: 0;
  }
  .offset-2 {
    background-color: white;
    border-left: 2px solid $light-grey;
    border-right: 2px solid $light-grey;
  }
}

.internship-agreement input:invalid {
  border: 1px solid red;
  background-color: rgb(255, 188, 188);
}

// SIGNATURES MODAL
.signature-pad-wrapper{
  width: 350px;
  margin: 0 auto;
}

#signature-pad {
  width: 287px;
  height: 142px;
  border: 1px solid $light-grey;
  margin:5px;
}
.digit-code-size{
	width: 60px;
	height: 60px;
	background: #F6F6F6;
	border: 1px solid #E5E5E5;
	border-radius: 7px;
	margin-left: 20px;
	font-family: 'Marianne';
	font-size: 24px;
	line-height: 24px;
	padding-left: 20px;
  &:focus{
  	box-shadow: 0px 0px 0px 2px #FFFFFF, 0px 0px 0px 4px #0A76F6;
  }
}

thead tr.leight-grey{
  background-color: $warm-neutral;
  padding: 10px 0;
  border-bottom: 1px solid $grey-200;
}

tr.internship-agreement-to-sign {
  td{
    margin: 0;
  }
  input[type='checkbox']{
    margin: 0px 20px 0 0;
  }
}

input.select-general-internship-agreements{
  margin: 0 20px 0 15px;
}

.internship-agreements-list{
  th    .fr-checkbox-group input[type="checkbox"] + label,
  tbody .fr-checkbox-group input[type="checkbox"] + label {
    padding: 0.75rem 1rem;
  }
  .fr-form-group {
    margin-bottom: -10px;
  }
  input[type="checkbox"]+ label,  input[type="checkbox"]:disabled + label{
    color: $grey-200;
    font-weight: 400;
  }
}
li#phone-validate{
  height: 25px;
}
#phone_suffix{
  margin-right: 25px;
  &:focus{
    margin-right: 21px;
  }
}
#phone_prefix{
  min-width: 100px;
}

