.bg-cover-image-statistiques{
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mM0TgMAANIAm3/ipYoAAAAASUVORK5CYII='),
                    url('../images/homepage/mon-stage-de-3e-illustration.jpg');
  background-position: bottom left, right -80px;
  background-repeat: repeat, no-repeat;
  background-size: contain, cover;
}
.wrapper-breadcrumb{
  background-image: linear-gradient(to bottom, #f6f6f6, #eaeaea);
}

.bg-stats-filter{
  background-color: #eaeaea;
}
.table-statistics accr {
  border-bottom: 1px dotted #4CA2CD;
  cursor: help;
}
.custom-stats-checkbox{
  padding-top: $input-btn-padding-y;
  padding-bottom: $input-btn-padding-y;
}

.table-statistics {
  td:first-child{
    border-left: 1px solid #d8d8d8;
  }
  td:last-child{
    border-right: 1px solid #d8d8d8;
  }
  tbody {
    tr{
      border-bottom-color: #d8d8d8;
    }
    tr:last-child td{
      border-bottom: 1px solid $blue;
    }
    tr:hover{
      background-color: #cce4f0;
    }
  }

  tfoot{
    tr{
      border-bottom: 2px solid $blue;
    }
  }
}
