label.required:before {
  content:"*";
  color:red;

  margin-right: 0.25rem;
}

.clickable-row {
  cursor: pointer;
}
.svg-inline--fa {
  pointer-events: none
}

.gray {
    color: gray;
}

$logo-color: #feb620;

.help-sign-content {
  @extend .border;
  @extend .border-secondary;
  @extend .rounded;

  background-color: gainsboro;
  // TINYTYPO: margin-bottom: 1rem;
}

.icon-link {
  text-decoration: none;
  color: inherit;
}
