.feedback-form {
  position: fixed;
  z-index: 2;
  bottom: 70px;
  right: 0;
  background-color: yellow;
  // defaults, hidden form content, visible call to action
  max-width: 120px;
  .btn-open-feedback-form {
    display: flex;
  }
  .feedback-form-content {
    display: none;
  }

  // state opened
  &.feedback-form-open{
    .btn-open-feedback-form {
      display: none!important;
    }
    .feedback-form-content {
      display: flex;
    }
    max-width: 100%;
  }

}
@include media-breakpoint-down(xs) {
  .feedback-form.feedback-form-open {
    height: 100%;
    width: 100%;
    bottom: 0;
    .feedback-form-content{
      width: 100%;
    }
    .btn-fixed-close-feedback-form{
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
