@font-face {
  font-family: Marianne;
  src: url('../fonts/Marianne/fontes_desktop/Marianne-Regular.otf');
}

@font-face {
  font-family: Marianne;
  font-weight: bold;
  src: url('../fonts/Marianne/fontes_desktop/Marianne-Bold.otf');
}

@font-face {
  font-family: Marianne;
  font-weight: bolder;
  src: url('../fonts/Marianne/fontes_desktop/Marianne-ExtraBold.otf');
}

@font-face {
  font-family: Marianne;
  font-weight: bold;
  font-style: italic;
  src: url('../fonts/Marianne/fontes_desktop/Marianne-BoldItalic.otf');
}

@font-face {
  font-family: Marianne;
  font-weight: bolder;
  font-style: italic;
  src: url('../fonts/Marianne/fontes_desktop/Marianne-ExtraBoldItalic.otf');
}

@font-face {
  font-family: Marianne;
  font-weight: lighter;
  src: url('../fonts/Marianne/fontes_desktop/Marianne-Light.otf');
}

@font-face {
  font-family: Marianne;
  font-style: italic;
  font-weight: lighter;
  src: url('../fonts/Marianne/fontes_desktop/Marianne-LightItalic.otf');
}

//----------------------
//Spectral
//----------------------
@font-face {
  src: url('../fonts/Spectral/Spectral-Regular.ttf');
}

@font-face {
  font-family: Spectral;
  font-weight: bold;
  src: url('../fonts/Spectral/Spectral-Bold.ttf');
}

@font-face {
  font-family: Spectral;
  font-style: italic;
  font-weight: bold;
  src: url('../fonts/Spectral/Spectral-BoldItalic.ttf');
}

@font-face {
  font-family: Spectral;
  font-style: italic;
  font-weight: bolder;
  src: url('../fonts/Spectral/Spectral-ExtraBoldItalic.ttf');
}

@font-face {
  font-family: Spectral;
  font-weight: lighter;
  src: url('../fonts/Spectral/Spectral-ExtraLight.ttf');
}

@font-face {
  font-family: Spectral;
  font-style: italic;
  font-weight: lighter;
  src: url('../fonts/Spectral/Spectral-ExtraLightItalic.ttf');
}

@font-face {
  font-family: Spectral;
  font-style: italic;
  src: url('../fonts/Spectral/Spectral-Italic.ttf');
}

@font-face {
  font-family: Spectral;
  font-weight: lighter;
  src: url('../fonts/Spectral/Spectral-Light.ttf');
}

@font-face {
  font-family: Spectral;
  font-weight: 600;
  src: url('../fonts/Spectral/Spectral-SemiBold.ttf');
}

@font-face {
  font-family: Spectral;
  font-style: italic;
  font-weight: 600;
  src: url('../fonts/Spectral/Spectral-SemiBoldItalic.ttf');
}
