.internship-item{
  text-decoration: none;
  border-bottom: 1px solid $gray-400;

  &:hover{
    text-decoration: none;
    background-color: $blue_light;
  }
}

.bg-internship-title{
  background-color: rgb(255,217,102);
}
