html{
  min-height: 100%;
}

.development {
  border: 3px solid rgba($cyan, .5);
}

.staging {
  border: 3px solid rgba($blue, .5);
}

pre.word-breakable-content {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.table-caption-top{
  caption { caption-side: top };
}
