@import "./bootstrap/rg2a/_variables";
@media print {
  // overriding
  .middle-school-badge {
    border: 1px solid $blue_sky;
    color: $gray-600;
  }
  .high-school-badge {
    border: 1px solid $green_lime;
    color: $gray-600;
  }
  // original styles
  // .print-footer{
  //   color: $gray-900;
  // }
}
