label, .label {
  font-weight: bold;
  margin-bottom: .65rem;
  position: relative;
  font-size: 1rem;

  abbr {
    position: absolute;
    left: -$input-btn-padding-x;
    top: 0;
    color: $red;
  }
}
.label.rg2a-checkbox abbr {
  left : 5px;
  top: 15px;
}
.custom-control-label{
  font-weight: normal;
}
// avoid underline/border bottom on abbr
abbr[title] {
  border-bottom: none !important;
  cursor: inherit !important;
  text-decoration: none !important;
}

//
// table
//

@include media-breakpoint-down(xs) {
  table.table-rg2a {

    thead {display: none;}
    tr {
      // display: flex;
      border-bottom: 1px $nav-tabs-border-color solid;
    }
    tr:last-child{
      border-bottom: none;
    }
    td:first-child {
      display: block;
      width: 100%;
      clear: both;
      text-align: left;
    }
    td{
      border-color:transparent;
      display: block;
      float: left;
      width: 25%;
      text-align: center;
      padding: 0.5rem 0.75rem;
    }
    td.rg2a-width-10{ width: 10%;}
    td.rg2a-width-20{ width: 20%;}
    td.rg2a-width-30{ width: 30%;}
    td.rg2a-width-40{ width: 40%;}
    td.rg2a-width-50{ width: 50%;}
    td.rg2a-width-60{ width: 60%;}
    td.rg2a-width-70{ width: 70%;}
    td.rg2a-width-80{ width: 80%;}
    td.rg2a-width-90{ width: 90%;}
    td.rg2a-width-100{
      width: 100%;
      display: block;
      clear: both;
      text-align: left;
      &:before{
        display: none;
      }
    }

    td:first-child:before{
      display: none;
    }
    td:before {
      content: attr(data-head);
      display: block;
      font-size: .8em;
      height: 50px;
    }
    td.half-height:before{
      height: 16px;
    }
  }
}
