$html-font-size-base: 16px;
$mobile-line-height-ratio: 1.1;
$bg-light-blue: #F7F8FC;
$dark-grey: #403156;
$light-grey: #DDDDDD;
$bg-less-light-blue: #E1E1EF;
$green1: #2DC77B;
$green2: #2DC733;
$light-green1: #D2F3E3;
$light-green2: #D8F3D3;
$very-dark-blue:#403156;
// DSFR
$grey-925: #e5e5e5;
$grey-975: #F6F6F6;
$warm-neutral: #F9F8F6;
$grey-50: #161616;
$grey-200: #3A3A3A;
$grey-425: #666666;
$grey-disabled: #919191;
$blue-france: #000091;
$blue-france-light: #E3E3FE;
$red-marianne: #e1000f;
$red-marianne-active: #c9191e;
$blue-france-850: #cacafb;
$blue-france-850-active: #9a9af7;
$blue-info: #0063CB;
$blue-france-950: #ececfe;
$blue-france-975: #f5f5fe;
$red-marianne-950: #fee9e9;
$red-marianne-950-active: #fab7b7;

$sidemenu-width: 225px;
