.row.py-5
  .col-md-7.col-sm-12.text-center.order-md-1.order-sm-2
    = image_tag asset_pack_path('media/images/homepage/animated_people.gif'),
                  alt: "Illustration animée, prof élèves",
                  height: '85%',
                  'max-height': '380px'
  .col-md-5.col-sm-12.order-md-2.order-sm-1
    h1.px-2.px-sm-2.px-md-0
      | Des stages pour tous, une opportunité pour
      span.chacun-image-left.pr-2 &nbsp;
      span.chacun-image-right chacun

    p.mt-3.text-muted.wider-text.mb-lg-5.mb-md-5.mb-sm-4.mb-3.px-2.px-sm-2.px-md-0
      |
        Plus qu’un passage obligatoire, le stage de troisième est une
        opportunité unique d’explorer le monde du travail.
        L’expérience, forcément enrichissante, aide l’élève à ouvrir
        ses horizons professionnels et à dessiner son projet personnel.

    p.text-muted.wider-text.px-2.px-sm-2.px-md-0
      |
        Notre plateforme permet de mettre en relation des établissements
        scolaires éligibles et des entreprises engagées afin d’agir dans
        le meilleur intérêt des élèves en leur offrant la meilleure
        expérience du stage possible.
    p.py-4.px-2.px-sm-2.px-md-0.text-center-left
      = link_to internship_offers_path(current_user_or_visitor.default_search_options),
                        class: 'btn btn-danger rounded-sm px-5',
                        data: { :"test-id" => 'mobile-search-button-first' }
        = "Trouver un stage"