// input dropdown, repositionned within its container
.search-in-place{
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  ul{
    list-style-type: none;
  }
  .badge{
    font-size: 1rem;
  }
}
@include media-breakpoint-down(xs){
  .search-in-place{
    left: 0;
    right: 0;
  }

}
@include media-breakpoint-up(sm){
  .search-in-place{
    width: 300px;
  }
}

@include media-breakpoint-up(sm) {
  .autocomplete-list-element:hover{
    cursor: pointer;
    background-color: $blue_light;
  }
}

// range slider
$sliderHeight: 20px;
.slider-legend{
  position: relative;
  float: left;
  top: -10px;
  width: 90%;
}
$handleWidth: 60px;
.slider-handle{
  position: absolute;
  width: $handleWidth;
  height: $sliderHeight;
  margin-left: -$handleWidth/2;
}


@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}
