// input dropdown, repositionned within its container
.search-in-place{
  position: absolute;
  top: 100%;
  z-index: 2;
  ul{
    list-style-type: none;
  }
  .badge{
    font-size: 1rem;
  }
}
@include media-breakpoint-down(xs){
  $external_padding: 15px;
  .search-in-place{
    left: $external_padding;
    right: $external_padding;
  }

}
@include media-breakpoint-up(sm){
  .search-in-place{
    width: 100%;
  }
}

@include media-breakpoint-up(sm) {
  .autocomplete-list-element:hover{
    cursor: pointer;
    background-color: $blue_light;
  }
}

// range slider
$sliderHeight: 20px;
.slider-legend{
  position: relative;
  float: left;
  top: -10px;
  width: 100%;
}
$handleWidth: 60px;
.slider-handle{
  position: absolute;
  width: $handleWidth;
  height: $sliderHeight;
  margin-left: -$handleWidth/2;
}


// search bar
.search-bar{
  // all white
  .input-group-text,
  .form-control{
    background-color: $white;
  }
}


// mobile search bar
@include media-breakpoint-down(xs) {
  .search-bar{
    background-color: $gray-200;
    padding: 1rem 0;

    // by default split controls in two equal elements with rounded sides
    .input-group-search{
      width: 50%;

      .input-group-text,
      .form-control{
        border-radius: 0;
      }
      .input-group-text{
        border-left: 1px solid  $nav-tabs-border-color;
        border-top-left-radius: 29px;
        border-bottom-left-radius: 29px;
      }
      .form-control{
        border-right: 1px solid  $nav-tabs-border-color;
        border-top-right-radius: 29px;
        border-bottom-right-radius: 29px;
      }

      // collapsible behavior for one of the two inputs
      // one is 75%, other 25% [kinda circled]
      &.focus-expanded{
        flex: 0 0 75%;
        max-width: 75%;
      }
      &.focus-collapsed{
        flex: 0 0 25%;
        max-width: 25%;
        input{
          position: absolute;
          top:-10000px;
          width: 0;
        }
        .input-group-text{
          border-radius: 29px;
        }
      }
    }

    // search button fullscreen
    .input-group-search-button{
      border-radius: 0;
      display: block;
      width: 100%;
    }
  }
}

// desktop search bar
@include media-breakpoint-up(sm) {
  .search-bar{
    // inputs are all aligned even using grid system
    margin-right: 0;
    margin-left: 0;

    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }

    // controls are bordered top/bottom, no left right
    .input-group-text,
    .form-control{
      border-radius: 0;
      border-left: none;
      border-right: none;
    }
    // apply rounding at both start/end of input
    .input-group-search-left-border{
      border-left: 1px solid  $nav-tabs-border-color;
      border-top-left-radius: 29px;
      border-bottom-left-radius: 29px;
    }
    .input-group-search-button{
      border-radius: 0;
      border-right: 1px solid  $nav-tabs-border-color;
      border-top-right-radius: 29px;
      border-bottom-right-radius: 29px;
    }

    // plus a small separator
    .input-group-separator{
      border-left: 1px solid  $nav-tabs-border-color;
    }
  }
}

// prepend innput with bigger icon
.input-group-text-bigger{
  font-size: 1.2rem;
  color:$primary;
}
