// input dropdown, repositionned within its container
// range slider
$sliderHeight: 20px;
$handleWidth: '60px';
.slider-legend{
  position: relative;
  float: left;
  top: -10px;
  width: 90%;
}
.slider-handle{
  position: absolute;
  width: $handleWidth;
  height: $sliderHeight;
  margin-left: $handleWidth/-2;
}


.search-in-place,
.search-in-sirene{
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  ul{
    list-style-type: none;
  }
  .badge{
    font-size: 1rem;
  }
}
@include media-breakpoint-down(xs){
  .search-in-place,
  .search-in-sirene{
    left: 0;
    right: 0;
  }

}
@include media-breakpoint-up(sm){
  .search-in-place{
    margin-top: .5rem;
    border-radius: 6px;
  }

  .search-in-sirene{
    margin-top: .5rem;
    border-radius: 6px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.05), 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
}

// @include media-breakpoint-up(sm) {
//   .autocomplete-list-element:hover{
//     cursor: pointer;
//     background-color: $blue_light;
//   }
// }


input#radius_slider {
  border: none;
  background-color: initial;
  box-shadow: none;
  opacity: 1;
  appearance: revert;
}


@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}
