.bg-dark-light{
  background-color: #f8f8f8;
}
.bg-light-warning{
  background-color: rgba(
      red($warning),
      green($warning),
      blue($warning),
      .2
    );
}
.bg-cyan {
  background-color: $cyan;
}
.bg-blue-dark{
  background-color: $blue_dark;
}
.bg-light-green{
  background-color: rgb(82,201,160);
}
