.bg-dark-light{
  background-color: #f8f8f8;
}
.fr-btn.fr-red-background-btn {
  background: var(--background-action-high-red-marianne);

  &:hover {
    background-color: var(--background-action-high-red-marianne-hover);
  }
}

.bg-less-light-blue{
  background-color: $blue-france-light;
}

@for $i from 1 through 9 {
  .bg-success-#{$i}0 {
    background-color: lighten($success, $i * 10%);
  }
}

@for $i from 1 through 9 {
  .bg-dark-#{$i}0 {
    background-color: lighten($dark, $i * 10%);
  }
}

