.badge{
  font-weight: normal!important;
  font-size: 1rem!important;
}
.badge-search{
  border: none;
  background-color: $blue_100;
  color: $blue_800;
}

.middle-school-badge,
.high-school-badge{
  color: $white;
}
.troisieme_generale{
  background-color: $custom_cyan;
  color: $blue;
}
.troisieme_segpa{
  color: white;
  background-color: $blue_sky;
}
.troisieme_prepa_metiers{
  background-color: $blue_dark;
  color: white;
}
