.badge{
  font-weight: normal!important;
  font-size: .8rem!important;
}
.badge-cyan {
  background-color: rgba(0, 102, 153, 0.1);
  color: $blue;
  border-radius: 14px;
}
.badge-light{
  border: 1px solid $gray-300;
}
