.badge{
  font-weight: normal!important;
  font-size: 1rem!important;
}
.badge-cyan {
  background-color: rgba(0, 102, 153, 0.1);
  color: $blue;
  border-radius: 14px;
}
.badge-light-blue{
  background-color: rgb(224,223,241);
  color: $blue;
}
.badge-light{
  border: 1px solid $gray-300;
}
.badge-search{
  border: none;
  background-color: $blue_100;
  color: $blue_800;
}

.middle-school-badge,
.high-school-badge{
  color: $white;
}
.troisieme_generale{
  background-color: $custom_cyan;
  color: $blue;
}
.troisieme_segpa{
  color: white;
  background-color: $blue_sky;
}
.troisieme_prepa_metiers{
  background-color: $blue_dark;
  color: white;
}
.bac_pro{
  background-color: $blue;
  color: white;
}
.badge-line{
  line-height: $line-height-base * 1.2;
}
.red-notification-badge{
  background-color:$red;
  color: white;
  text-align: center;
  border-radius: 50%;
  padding: 0.2rem 0.5rem;
  font-weight: bolder;
  font-size: smaller;
}
// This has to be temporary
.red-x-badge {
  background-color: $red;
  color: white;
  text-align: center;
  border-radius: 50%;
  padding: 0.2rem 0.4rem;
  font-weight: bolder;
  font-size: smaller;
}
.no-border{
  border : 0
}
