// border position solid
.bt-0{
  border-top: none;
}
.bt-1 {
  border-top: 1px;
  border-top-style: solid;
}
.bb-1 {
  border-bottom: 1px;
  border-bottom-style: solid;
}
.br-1{
  border-right: 1px;
  border-right-style: solid;
}
.bl-1{
  border-left: 1px;
  border-left-style: solid;
}
.b-4{
  border-width: 4px;
  border-style: solid;
}
.bc-blue-stats-total{
  border-color: $blue_border;
}
.bc-custom-blue{
  border-color: rgb(169,163,185);
}

// border-color
.bt-light{
  border-color: rgba(0, 0, 0, 0.12);
}
.bc-light{
  border-color: $nav-tabs-border-color;
}
.bc-stats{
  border-color: rgb(73,61,96);
}

.rounded-circle-right{
  border-top-left-radius:0;
  border-bottom-left-radius:0;
  border-top-right-radius-radius:100%;
  border-bottom-right-radius-radius:100%;
}
.rounded-circle-left{
  border-top-left-radius:100%;
  border-bottom-left-radius:100%;
  border-top-right-radius-radius:0;
  border-bottom-right-radius-radius:0;
}

.border-class-type{
  font-size: 60%;
  font-weight: 400;
  border: 1px $blue_dark solid;
  border-radius: 5px;
  margin-right : 0.4rem;
  padding: 0.2rem;
  text-decoration: none;
}


@include media-breakpoint-down(xs) {
  .rounded-xs-0{
    border-radius: 0
  }
}
