// border position solid
.bt-0{
  border-top: none;
}
.bt-1 {
  border-top: 1px;
  border-top-style: solid;
}
.bb-1 {
  border-bottom: 1px;
  border-bottom-style: solid;
}
.br-1{
  border-right: 1px;
  border-right-style: solid;
}
.bl-1{
  border-left: 1px;
  border-left-style: solid;
}

// border-color
.bt-light{
  border-color: rgba(0, 0, 0, 0.12);
}
.bc-light{
  border-color: $nav-tabs-border-color;
}

.rounded-circle-right{
  border-top-left-radius:0;
  border-bottom-left-radius:0;
  border-top-right-radius-radius:100%;
  border-bottom-right-radius-radius:100%;
}
.rounded-circle-left{
  border-top-left-radius:100%;
  border-bottom-left-radius:100%;
  border-top-right-radius-radius:0;
  border-bottom-right-radius-radius:0;
}

@include media-breakpoint-down(xs) {
  .rounded-xs-0{
    border-radius: 0
  }
}
