.bt-0{
  border-top: none;
}
.bt-1 {
  border-top: 1px;
  border-top-style: solid;
}
.bb-0{
  border-bottom: none!important;
}
.bb-1 {
  border-bottom: 1px;
  border-bottom-style: solid;
}
.br-0{
  border-right: none;
}
.bl-0{
  border-left: none;
}
.br-1{
  border-right: 1px;
  border-right-style: solid;
}
.bl-1{
  border-left: 1px;
  border-left-style: solid;
}
.b-4{
  border-width: 4px;
  border-style: solid;
}
.bc-blue-stats-total{
  border-color: $blue_border;
}
.bt-light{
  border-color: rgba(0, 0, 0, 0.12);
}
.bc-light{
  border-color: $nav-tabs-border-color;
}
.bc-stats{
  border-color: rgb(73,61,96);
}

@include media-breakpoint-down(xs) {
  .rounded-xs-0{
    border-radius: 0
  }
}
.rounded-8{
  border-radius: 8px;
}
.rounded-6{
  border-radius: 6px;
}
