.input-group-append.rounded button {
  padding: 4px 11px;
}

.custom-label-container .input-group-append input {
  flex: 0 auto !important;
}

.custom-select{
  box-shadow: 0px 1px 3px rgba(0,0,0,.2);
  border-radius: 5px;
}
.custom-control-checkbox-list{
  height: 380px;
  overflow: scroll;
  background-color: $blue-france-975;

  padding: $input-btn-padding-x/2 $input-btn-padding-y;
  &.is-invalid{
    box-shadow: 0 0 2px rgba(255,0,0,.5);
  }
}
.custom-control-checkbox-legend{
  border-left: 1px solid $input-border-color;
  border-right: 1px solid $input-border-color;
  border-bottom: 1px solid $input-border-color;
  border-bottom-left-radius: $input-border-radius;
  border-bottom-right-radius: $input-border-radius;
  padding: $input-btn-padding-x/2 $input-btn-padding-y;
  background-color: $input-bg;
}

.badge-week-density{
  right: 0;
  top: 0;
  height: 1.5rem;
  width: 1.5rem;
  text-indent: -9999px;
}

.badge-legend{
  height: 1.5rem;
  background: transparent linear-gradient(90deg, #EBEDF0 0%, #E1EBEA 9%, #B2E3CF 20%, #7FD5B0 42%, #12C77B 68%, #0C6C44 100%) 0% 0% no-repeat padding-box;
}

.custom-checkbox{
  min-height: 1.5rem;
}
//disabled checkbox input
.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before {
  background-color: #585858;
  border: #585858;
}

// .bg-light-grey {
//   background-color: $beige-975;
// }

.toggle-radio {
	margin: 0 0 1.5rem;
	box-sizing: border-box;
	font-size: 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: stretch;

	input {
		width: 0;
		height: 0;
		position: absolute;
		left: -9999px;
		opacity: 0;
	}

	input+label {
		margin: 0;
		padding: .75rem 2rem;
		box-sizing: border-box;
		position: relative;
		display: inline-block;
		border: solid 1px #DDD;
		background-color: #FFF;
		font-size: 1rem;
		line-height: 140%;
		font-weight: 600;
		text-align: center;
		box-shadow: 0 0 0 rgba(255, 255, 255, 0);
		transition: border-color .15s ease-out,
			color .25s ease-out,
			background-color .15s ease-out,
			box-shadow .15s ease-out;

		flex: 0 0 50%;
		display: flex;
		justify-content: center;
		align-items: center;

		&:first-of-type {
			border-radius: 6px 0 0 6px;
		}

		&:last-of-type {
			border-radius: 0 6px 6px 0;
			border-left: none;
		}
	}
	label.small {
		margin: 0;
		padding: .75rem;
		font-size: 0.8rem !important;
		line-height: 120%;
		font-weight: 600;
	}
	input:hover+label,
	input:checked+label {
		background-color: $blue;
		color: #FFF;
		box-shadow: 0 0 10px rgba(#4B9DEA, .5);
		border-color: $blue;
		z-index: 1;
	}
	input:focus+label {
		border: 2px white solid;
		outline: 2px $blue solid;
	}
}
.name-search {
  margin-bottom: 0;
  .input-group {
    input {
      background-color: $bg-light-blue;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      border-right: 0px;
      }

    button.btn-clear-city {
      background-color: $grey-200;
      color: $grey-200 !important;
      border-color: $grey-200 !important;
    }

    label.chosen-name {
        background-color: $bg-less-light-blue;
        padding: 0.2rem 0.6rem 0.2rem 0.6rem;
        margin-left: 0.5rem;
        border-radius: 4px;
        color: $very-dark-blue;
      font-weight: 800;
      }

      label.not-chosen-name {
        font-weight: 400;
    }
  }
}

.form-group.smashed {
  margin-bottom: 1.0rem;
}

.row.smashed-margin-top {
  margin-top: 0;
}



.hover-light-blue{
  &:hover{
    background: $blue_50;

    /* gray/200 */
    border: 1px solid $gray_200;
  }
}

.custom-checkbox-search{
  border-left: 1px solid $input-border-color;
  border-right: 1px solid $input-border-color;
  border-bottom: 1px solid $input-border-color;
  border-top: 1px solid transparent;
  input {
    appearance: revert;
    width: 15px;
    height: 15px;
  }
  &:first-child{
    border-top: 1px solid  $input-border-color;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  &:last-child{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  &.active{
    background: $blue_50;
    border-color: $blue_800!important;

    .active-blue-700 {
      color: $blue_700;
    }
  }

  &:hover, &:focus{
    cursor: pointer;
    background:$blue_50;
    border-color: $gray_200;

  }
  &.disabled {
    background: $input-disabled-bg;
    &:hover{
      cursor: not-allowed;
    }
  }
}

trix-toolbar {
  display: none;
}

trix-editor {
  border-top: 0px !important;
  border-left: 0px !important;
  border-right: 0px !important;
  font-size: 1rem;
}

.fr-callout__text {
  font-size: 1rem;
  margin-bottom: 0;
}

.fr-card__img {
  .fr-tag {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100;
  }
}

.fr-btn-danger {
  background-color: $red-marianne !important;
}
.fr-btn-danger:hover {
  background-color: $red-marianne-active !important;
  --blend-full-size: 0%;
}

.fr-callout-blue {
  background-color: $blue-france;
  color: #fff !important;
  .fr-label {
    color: #fff !important;
  }
}