
.custom-select{
  box-shadow: 0px 1px 3px rgba(0,0,0,.2);
}


.custom-control-checkbox-list{
  height: 180px;
  overflow: scroll;

  border: 1px solid $input-border-color;
  border-top-left-radius: $input-border-radius;
  border-top-right-radius: $input-border-radius;
  padding: ($input-btn-padding-x/2) $input-btn-padding-y;
  &.is-invalid{
    box-shadow: 0 0 2px rgba(255,0,0,.5);
  }
}
.custom-control-checkbox-legend{
  border-left: 1px solid $input-border-color;
  border-right: 1px solid $input-border-color;
  border-bottom: 1px solid $input-border-color;
  border-bottom-left-radius: $input-border-radius;
  border-bottom-right-radius: $input-border-radius;
  padding: ($input-btn-padding-x/2) $input-btn-padding-y;
  background-color: $input-bg;
}

.badge-week-density{
  right: 0;
  height: 1.5rem;
  width: 1.5rem;
  text-indent: -9999px;
}

.badge-legend{
  height: 1.5rem;
  background: transparent linear-gradient(90deg, #EBEDF0 0%, #E1EBEA 9%, #B2E3CF 20%, #7FD5B0 42%, #12C77B 68%, #0C6C44 100%) 0% 0% no-repeat padding-box;
}


//disabled checkbox input
.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before {
  background-color: #585858;
  border: #585858;
}
.custom-radio-boxes{

  .custom-radio-box-control{
    border: 1px solid $input-border-color;

    // border left on first element
    &.custom-radio-box-control-prepend{
      border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem;
      border-right: none;
    }

    // border right on last element
    &.custom-radio-box-control-append{
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 1rem;
    }

    label{
      padding: .5rem 2rem;

    }

    .custom-radio-box-control-input{
      position: absolute;
      visibility: hidden;
    }
    .custom-radio-box-control-input:checked + label{
      background-color: $blue;
      // inherit parent border radius to avoid squared background color when label is contained in rounded container
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
      border-bottom-left-radius: inherit;
      border-bottom-right-radius: inherit;
      color: white;
    }
  }
}

.toggle-radio {
	margin: 0 0 1.5rem;
	box-sizing: border-box;
	font-size: 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: stretch;
	input {
		width: 0;
		height: 0;
		position: absolute;
		left: -9999px;
		opacity: 0;
	}
	input + label {
		margin: 0;
		padding: .75rem 2rem;
		box-sizing: border-box;
		position: relative;
		display: inline-block;
		border: solid 1px #DDD;
		background-color: #FFF;
		font-size: 1rem;
		line-height: 140%;
		font-weight: 600;
		text-align: center;
		box-shadow: 0 0 0 rgba(255,255,255,0);
		transition: 	border-color .15s ease-out,
					color .25s ease-out,
					background-color .15s ease-out,
					box-shadow .15s ease-out;

		flex: 0 0 50%;
		display: flex;
		justify-content: center;
		align-items: center;

		&:first-of-type {border-radius: 6px 0 0 6px;}
		&:last-of-type {border-radius: 0 6px 6px 0; border-left: none;}
	}
	label.small {
		margin: 0;
		padding: .75rem;
		font-size: 0.8rem !important;
		line-height: 120%;
		font-weight: 600;
	}
	input:hover + label,
	input:checked + label {
		background-color: $blue;
		color: #FFF;
		box-shadow: 0 0 10px rgba(#4B9DEA, .5);
		border-color: $blue;
		z-index: 1;
	}
}

.toggle-radio {
	margin: 0 0 1.5rem;
	box-sizing: border-box;
	font-size: 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: stretch;
	input {
		width: 0;
		height: 0;
		position: absolute;
		left: -9999px;
		opacity: 0;
	}
	input + label {
		margin: 0;
		padding: .75rem 2rem;
		box-sizing: border-box;
		position: relative;
		display: inline-block;
		border: solid 1px #DDD;
		background-color: #FFF;
		font-size: 1rem;
		line-height: 140%;
		font-weight: 600;
		text-align: center;
		box-shadow: 0 0 0 rgba(255,255,255,0);
		transition: 	border-color .15s ease-out,
					color .25s ease-out,
					background-color .15s ease-out,
					box-shadow .15s ease-out;

		flex: 0 0 50%;
		display: flex;
		justify-content: center;
		align-items: center;

		&:first-of-type {border-radius: 6px 0 0 6px;}
		&:last-of-type {border-radius: 0 6px 6px 0; border-left: none;}
	}
	input:hover + label,
	input:checked + label {
		background-color: $blue;
		color: #FFF;
		box-shadow: 0 0 10px rgba(#4B9DEA, .5);
		border-color: $blue;
		z-index: 1;
	}
}
