.custom-select{
  box-shadow: 0px 1px 3px rgba(0,0,0,.2);
}
.form-select-weeks{
  height: 180px;
  overflow: scroll;
  background-color: $input-bg;
  border: 1px solid $input-border-color;
  border-radius: $input-border-radius;
  padding: ($input-btn-padding-x/2) $input-btn-padding-y;

}
