a.red-delete{
  text-decoration: none;
  color: var(--red-marianne-425-625);
  &:active{
    color: var(--red-marianne-425-625-active);
  }
  &:hover{
    color: var(--red-marianne-425-625-hover);
  }
}
.cursor_grab{
  cursor: grab;
  .with_blue{
    color: $blue-france;
  }
}