a.red-delete{
  text-decoration: none;
  color: var(--red-marianne-425-625);
  &:active{
    color: var(--red-marianne-425-625-active);
  }
  &:hover{
    color: var(--red-marianne-425-625-hover);
  }
}