// see: http://hackingui.com/front-end/a-pure-css-solution-for-multiline-text-truncation/
.text-truncate-max-height-50 {
  text-align: justify;
  position: relative;
  max-height: 50px;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  text-overflow: ellipsis;
  margin-right: -1em;
  padding-right: 1em;
  &:after{
    /* points in the end */
    content: '...';
    /* absolute position */
    position: relative;
    /* set position to right bottom corner of block */
    right: 0;
    bottom: 0;
  }
}

