@include media-breakpoint-up(md) {
  .search-container {
    background-color: $input-bg;
    box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 10px 10px -5px rgba(0, 0, 0, 0.04);
  }

  #weeks-container{
    position: absolute;
    z-index: 10;
    margin-top: .5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.05), 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
    div[role="tabpanel"] {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}

.bg-custom-blue{
  background-image: linear-gradient(90deg, #000091 0%, #000091 100%);
}
.wrapper-sticky-with-offset{
  background-size: 100% 55px;
  background-repeat: no-repeat;
}

