@include media-breakpoint-up(md) {
  .search-container{
    border-radius: 6px;
    background-color: $input-bg;
    box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1),
                0px 0px 25px -5px rgba(0, 0, 0, 0.1),
                0px 10px 10px -5px rgba(0, 0, 0, 0.04);
  }

  #weeks-container{
    position: absolute;
    z-index: 1;
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.05), 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
    div[role="tabpanel"] {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  .search-container {
    #input-search-by-keyword,
    #input-search-by-city-or-zipcode,
    #input-search-school-track,
    #input-search-by-week{
      border: none;
    }
    #input-search-by-keyword,
    #input-search-by-city-or-zipcode{
      border-right: 1px solid $gray_300;
    }
    #input-search-by-week{
      border-left: 1px solid $gray_300;
    }

  }
  // bigger input for visible overflow
  #input-search-by-keyword,
  #input-search-by-city-or-zipcode,
  // #input-search-school-track -> forced with height 100%, padding does not play nicely
  #input-search-by-week{
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
  }
  #input-search-school-track{
    height: 100%;
  }

  .position-sticky-md {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
  }
}

#input-search-by-keyword,
#input-search-by-city-or-zipcode,
#input-search-by-week{
 padding-right: 0.75rem;
 padding-left:   2.75rem;
}
#input-search-school-track{
  padding-left: 2.4rem;
}

// # input with icons
#input-search-by-keyword,
#input-search-by-city-or-zipcode,
#input-search-school-track,
#input-search-by-week{
  background-repeat: no-repeat;
  background-position: left 1rem center;
  background-size: 20px 19px;
}
#input-search-school-track{
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='19' viewBox='0 0 20 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 11L19 6L10 1L1 6L10 11ZM10 11L16.1591 7.57826C16.7017 8.94659 17 10.4384 17 11.9999C17 12.7013 16.9398 13.3885 16.8244 14.0569C14.2143 14.3106 11.849 15.4006 10 17.0555C8.15096 15.4006 5.78571 14.3106 3.17562 14.0569C3.06017 13.3885 3 12.7012 3 11.9999C3 10.4384 3.29824 8.94656 3.84088 7.57825L10 11ZM6 16.9999V9.5L10 7.27778' stroke='%231E40AF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") ;
}
#input-search-by-keyword{
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21 13.2554C18.2207 14.3805 15.1827 15 12 15C8.8173 15 5.7793 14.3805 3 13.2554M16 6V4C16 2.89543 15.1046 2 14 2H10C8.89543 2 8 2.89543 8 4V6M12 12H12.01M5 20H19C20.1046 20 21 19.1046 21 18V8C21 6.89543 20.1046 6 19 6H5C3.89543 6 3 6.89543 3 8V18C3 19.1046 3.89543 20 5 20Z' stroke='%231E40AF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
#input-search-by-city-or-zipcode{
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='21' viewBox='0 0 18 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.6569 14.6569C13.7202 15.5935 11.7616 17.5521 10.4138 18.8999C9.63275 19.681 8.36768 19.6814 7.58663 18.9003C6.26234 17.576 4.34159 15.6553 3.34315 14.6569C0.218951 11.5327 0.218951 6.46734 3.34315 3.34315C6.46734 0.218951 11.5327 0.218951 14.6569 3.34315C17.781 6.46734 17.781 11.5327 14.6569 14.6569Z' stroke='%231E40AF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 9C12 10.6569 10.6569 12 9 12C7.34315 12 6 10.6569 6 9C6 7.34315 7.34315 6 9 6C10.6569 6 12 7.34315 12 9Z' stroke='%231E40AF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
#input-search-by-week{
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 5V1M14 5V1M5 9H15M3 19H17C18.1046 19 19 18.1046 19 17V5C19 3.89543 18.1046 3 17 3H3C1.89543 3 1 3.89543 1 5V17C1 18.1046 1.89543 19 3 19Z' stroke='%231E40AF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

#input-search-by-week[readonly=readonly]{
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 5V1M14 5V1M5 9H15M3 19H17C18.1046 19 19 18.1046 19 17V5C19 3.89543 18.1046 3 17 3H3C1.89543 3 1 3.89543 1 5V17C1 18.1046 1.89543 19 3 19Z' stroke='%23767676' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.bg-custom-blue{
  background-image: linear-gradient(90deg, #2A5298 0%, #2A5298 100%);
}
.wrapper-sticky-with-offset{
  background-size: 100% 55px;
  background-repeat: no-repeat;
}

