@include media-breakpoint-down(xs) {
  .d-xs-stick {
    z-index: 1;
    background-color: #fff;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    box-shadow: 0 -2px 20px rgba(0,0,0,.2);
    &.no-padding{
      padding: 0rem;
    }
  }
}
@include media-breakpoint-down(sm) {
  .d-sm-stick {
    z-index: 1;
    background-color: #fff;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    box-shadow: 0 -2px 20px rgba(0,0,0,.2);
  }
}
