.relative{
  position: relative;
}
.d-stick {
  z-index: 10;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  box-shadow: 0 -2px 20px rgba(0,0,0,.2);
}


@include media-breakpoint-down(xs) {
  .d-xs-stick {
    z-index: 10000;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    box-shadow: 0 -2px 20px rgba(0,0,0,.2);
  }
  .btn-block-mobile {
    text-align: center;
    width: 100%;
    display: block;
  }
}
// @include media-breakpoint-down(sm) {
//   .d-sm-stick {
//     z-index: 10000;
//     background-color: #fff;
//     padding: 1rem;
//     position: fixed;
//     bottom: 0;
//     right: 0;
//     left: 0;
//     box-shadow: 0 -2px 20px rgba(0,0,0,.2);
//   }
// }

