// stick table thead with table.position=relative + thead.position=sticky
// * nested th loose background color
// * plus it fails with border-bottom (use box-shadow instead)
.table-sticky-thead{
  position: relative;
  border-collapse: collapse;

  thead {
    th{
      z-index: 2;
      position: sticky;
      border-top: none;
      top:0;
      left: -20px;
      right: -20px;
    }
    tr:first-child:not(:last-child) th{
      height: 67px;
    }
    tr:last-child:not(:first-child) th{
      top: 67px;
    }
  }

  .tr-white{
    box-shadow: 0 2px 0px rgba($blue,.5),
                -10px 0 0 #fff,
                10px 0 0 #fff;

    th{
      box-shadow: 0 2px 0px rgba($blue,.5),
                -10px 0 0 #fff,
                10px 0 0 #fff;
      background-color: $white;
    }
  }

  tr.tr-white.row {
    margin-right: 0;
    margin-left: 0;
  }

  .tr-blue{
    box-shadow: 0 2px 0px rgb(97,161,201);
    th{
      box-shadow: 0 2px 0px rgb(97,161,201);
      color: $white;
      background-color: $blue;
      font-size: 1.1rem;
      font-weight: normal;
    }
  }
}

