// stick table thead with table.position=relative + thead.position=sticky
// * nested th loose background color
// * plus it fails with border-bottom (use box-shadow instead)
.table-sticky-thead{
  position: relative;
  border-collapse: collapse;

  thead {
    th{
      z-index: 1;
      position: sticky;
      border-top: none;
      top:0
    }
    tr:first-child:not(:last-child) th{
      height: 67px;
    }
    tr:last-child:not(:first-child) th{
      top: 67px;
    }
  }

  .tr-white{
    box-shadow: 0 2px 0px rgba($blue, .1);
    th{
      box-shadow: 0 2px 0px rgba($blue, .1);
      background-color: $white;
    }
  }

  .tr-blue{
    box-shadow: 0 2px 0px rgba(97,161,201,.1);
    th{
      box-shadow: 0 2px 0px rgba(97,161,201,.1);
      color: $white;
      background-color: $blue;
      font-size: 1.1rem;
      font-weight: normal;
    }
  }
}

