// see: https://stackoverflow.com/questions/19330611/fixed-footer-in-bootstrap

.sticky-footer{
    z-index: 100;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid $grey-50;
}
