.fill-red-custom path{
  fill: #E24646;
}
.fill-warning-custom path{
  fill: #FCA000;
}
.fill-blue-custom path{
  fill: #160D91;
}
.fill-purple-custom path{
  fill: #8E62CA;
}
.fill-cyan-custom{
  fill: #62CAC6;
}
