.table-caption-top{
  caption { caption-side: top };
}

@include media-breakpoint-up(sm) {
  .hoverable-row-with-btn{
    .btn-hoverable{
      transition: opacity .4s ease;
      opacity: 0;
      display: block;
      position: absolute;
    }
    &:hover{
      background-color: $blue_light;
      .btn-hoverable{
      opacity: 1;
      }
    }
  }
}
