.table-caption-top{
  caption { caption-side: top };
}
.table-blue{
  background-color: $blue;
  color: #fff;
}

.table-sticky-thead{
  position: relative;
  border-collapse: collapse;
  thead {
    z-index: 1;
    top: 0;
    position: sticky;
    box-shadow: 0 2px 0px 0px $blue;

    th{
      background-color: white;
    }
  }
}
