.table-caption-top{
  caption { caption-side: top };
}
.table-caption-bottom {
  caption {
    caption-side: bottom;
    text-align: left;
    padding-left: 1em;
  }
}
@include media-breakpoint-up(sm) {
  .hoverable-row-with-btn{
    .btn-hoverable{
      transition: opacity .4s ease;
      opacity: 0;
      display: block;
      position: absolute;
    }
    &:hover{
      background-color: $blue_light;
      .btn-hoverable{
      opacity: 1;
      }
    }
  }
}


.table {
    display:table;
}
.tr {
    display:table-row;
}
.td, .th {
    display:table-cell;
    padding: $table-cell-padding;
    vertical-align: top;
    border-top: $table-border-width solid $table-border-color;
}
.thead {
  display: table-header-group;
  .th{
    vertical-align: bottom;
    border-bottom: (2 * $table-border-width) solid $table-border-color;
  }
}
.table-scrollbar {
  position: relative;
  height: 550px;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display: block;
}

table.table-scrollable {
  display: table;
}

.table-display table {
  display: table
}

.fr-table thead {
  background-color: $blue-france;
}

.tbody{
  display: table-row-group;
}
.tfoot{
  display: table-footer-group;
}

.tr-blue{
  // box-shadow: 0 2px 0px rgb(97,161,201);
  th, .th{
    box-shadow: 0 2px 0px rgb(97,161,201);
    color: $white;
    background-color: $blue-france;
    font-size: 1.1rem;
    font-weight: normal;
  }
}

.tr-blue-light{
  // box-shadow: 0 2px 0px rgb(97,161,201);
  th, .th{
    // box-shadow: 0 2px 0px rgb(97,161,201);
    background-color: $blue-france-light;
    // font-size: 1.1rem;
    font-weight: normal;
  }
}
.fr-table--white {
  tr:nth-child(even) {
    td {
      background: #F9F8F6
    }
  }
  tr:nth-child(odd) {
    td {
      background: white
    }
  }
}
.tr-blue{
  th, .th{
    box-shadow: 0 2px 0px rgb(97,161,201);
    color: $white;
    background-color: $blue-france;
    font-size: 1.1rem;
    font-weight: normal;
  }
}
