.table-caption-top{
  caption { caption-side: top };
}
.table-caption-bottom {
  caption {
    caption-side: bottom;
    text-align: left;
    padding-left: 1em;
  }
}
@include media-breakpoint-up(sm) {
  .hoverable-row-with-btn{
    .btn-hoverable{
      transition: opacity .4s ease;
      opacity: 0;
      display: block;
      position: absolute;
    }
    &:hover{
      background-color: $blue_light;
      .btn-hoverable{
      opacity: 1;
      }
    }
  }
}


.table {
    display:table;
}
.tr {
    display:table-row;
}
.td, .th {
    display:table-cell;
    padding: $table-cell-padding;
    vertical-align: top;
    border-top: $table-border-width solid $table-border-color;
}
.thead {
  display: table-header-group;
  .th{
    vertical-align: bottom;
    border-bottom: (2 * $table-border-width) solid $table-border-color;
  }
}
.tbody{
  display: table-row-group;
}
.tfoot{
  display: table-footer-group;
}

.tr-blue{
  th, .th{
    box-shadow: 0 2px 0px rgb(97,161,201);
    color: $white;
    background-color: $blue-france;
    font-size: 1.1rem;
    font-weight: normal;
  }
}