html body{
  .text-cyan {
    color: $cyan;
  }
  .text-blue-dark{
    color: $blue_dark;
  }
  // darken colors based on a11y feed
  .text-sky-blue{
    // color: $blue_sky;
    color: $blue;
  }
  .text-warning-custom{
    color: #FCA000;
  }
  .text-blue-custom{
    color: #160D91;
  }
  .text-red-custom{
    color: #E24646;
  }
  .text-counter-stats{
    color: #493D60;
  }
  .nowrap{
    white-space: nowrap;
  }
}

