//desktop
// html {
//   font-size: $html-font-size-base;
//   h1, .h1 {
//     font-size: $html-font-size-base * 3;
//   }
//   h2, .h2 {
//     font-size: $html-font-size-base * 1.75;
//   }
//   h3, .h3 {
//     font-size: $html-font-size-base * 1.5;
//   }
//   h4, .h4 {
//     font-size: $html-font-size-base * 1.25;
//   }
//   h5, .h5 {
//     font-size: $html-font-size-base;
//   }
// }
html body{font-size: 15px;}


// everybody
html h1,
html .h1,
html h2,
html .h2,
html .h3,
html h3,
html h4,
html .h4,
html h5,
html .h5,
html h6,
html .h6{
  color: $blue;
}
html h1,
html .h1,
html h2,
html .h2,
html h3,
html .h3
{
  font-weight: 600;
}
html h4,
html .h4,
html h5,
html .h5,
html h6,
html .h6
{
  font-weight: 600;
}
html .gray-666{
  color: #666;
}
html .gray-999{
  color: #999;
}
// desktop is default bootstrap

// mobile is custom
@include media-breakpoint-down(xs) {
  html h1,
  html .h1,
  html h2,
  html .h2,
  html h3,
  html .h3,
  html h4,
  html .h4,
  html h5,
  html .h5,
  html h6,
  html .h6
  {
    // font-weight: 600;
  }
  html h1,
  html .h1 {
    font-size: $html-font-size-base * 2;
    line-height: ($html-font-size-base * 1.75) * $mobile-line-height-ratio;
  }
  html h2,
  html .h2 {
    font-size: $html-font-size-base * 1.9;
    line-height: ($html-font-size-base * 1.75) * $mobile-line-height-ratio;
  }
  html h3,
  html .h3 {
    font-size: $html-font-size-base * 1.8;
    line-height: ($html-font-size-base * 1.75) * $mobile-line-height-ratio;
  }
  html h4,
  html .h4 {
    font-size: $html-font-size-base * 1.5;
    line-height: ($html-font-size-base * 1.5) * $mobile-line-height-ratio;
  }
  html h5,
  html .h5 {
    font-size: $html-font-size-base;
    line-height: ($html-font-size-base) * $mobile-line-height-ratio;
  }
  html h6,
  html .h6 {
    font-size: $html-font-size-base;
    line-height: ($html-font-size-base) * $mobile-line-height-ratio;
  }
}
.text-bigger{
  font-size: $html-font-size-base * 1.125;
}
