= form_with model: @internship_agreement,
            url: dashboard_internship_agreement_path(uuid: @internship_agreement.uuid),
            class: 'form-offset-header',
            method: (@internship_agreement.persisted? ? :patch : :post),
            data: { controller: 'internship-agreement-form', turbo: false} do |form|
  - employer_like = current_user.employer_like?
  .row
    .col-12
      #nav-tab.nav.nav-tabs role="tablist"
        = link_to 'Offreur', '#nav-employer',
                  class: "nav-item nav-link fr-raw-link #{employer_like ? "active" : ""}",
                  id: 'nav-employer-tab',
                  data: { 'toggle': "tab" },
                  role: "tab",
                  'aria-controls': "nav-employer",
                  'aria-selected': "#{employer_like}"
        = link_to "Chef d'établissement",
                  '#nav-school-management',
                  class: "nav-item nav-link fr-raw-link #{current_user.school_manager? ? "active" : ""}",
                  id: 'nav-school-management-tab',
                  data: { 'toggle': "tab" },
                  role: "tab",
                  'aria-controls': "nav-school-management",
                  'aria-selected': "#{current_user.school_manager?}"

      #nav-tabContent.tab-content
        #nav-employer.tab-pane.fade.active role="tabpanel" aria-labelledby="nav-employer-tab"
          table.table-sticky-thead
            = render partial: 'dashboard/internship_agreements/form_header',
                      locals: { internship_application: @internship_agreement.internship_application,
                                internship_agreement: form.object }
            = render 'employer_form_fields',
                      form: form,
                      resource: @internship_agreement,
                      disabled: false

        #nav-school-management.tab-pane.fade role="tabpanel" aria-labelledby="nav-school-management-tab"
          table.table-sticky-thead
            = render partial: 'dashboard/internship_agreements/form_header',
                      locals: { internship_application: @internship_agreement.internship_application,
                                internship_agreement: form.object }
            = render 'school_management_form_fields',
                      form: form,
                      resource: @internship_agreement,
                      disabled: true
