h1 Conditions générales d’utilisation Agents
p Les présentes conditions générales d’utilisation (dites “CGU”) fixent le cadre juridique de la Plateforme “MonStagede3eme” et définissent les conditions d’accès et d’utilisation des services par l’Utilisateur. 

h2.my-4 Article 1 - Champ d’application 
p Le présent document a pour objet d’encadrer l’utilisation de la Plateforme. 
p L’inscription sur la Plateforme peut entraîner l’application de conditions spécifiques, listées dans les présentes conditions générales d’utilisation. L’inscription est gratuite, réservée à tout Utilisateur œuvrant à accompagner les stagiaires de 3ème pour leur émancipation et combattre les déterminismes sociaux. 

h2.my-4 Article 2 - Objet 
p La Plateforme Monstagedetroisieme.fr a pour objectif de permettre aux élèves de 3e d'accéder à des stages pertinents et de qualité visant à accompagner leur émancipation et combattre les déterminismes sociaux.

h2.my-4 Article 3 - Définitions 
p “L’Utilisateur” est toute personne physique qui contribue à l’accompagnement des élèves de 3ème ou qui souhaite accéder à des statistiques d’offres de stage à l’échelle d’une administration ou d’un département. 
p “Équipe pédagogique” est tout membre de l’équipe pédagogique d’un établissement (professeur notamment) qui inscrit son établissement et accompagne ses élèves dans leurs recherches de stage. 
p “Référent administratif” est tout référent d’une administration ou référent départemental qui souhaite accéder aux statistiques des offres de stage de son administration ou de son département.
p Les “Services” sont les fonctionnalités offertes par la Plateforme pour répondre à ses finalités.

h2.my-4 Article 4 - Fonctionnalités de l’Utilisateur 

h3.my-2 4.1 Création du compte
p La création du compte est gratuite et ouverte à plusieurs types de profils : 
ul
  li À un membre de l’équipe pédagogique (professeur) qui souhaite inscrire son établissement sur la Plateforme ou accompagner ses élèves dans leurs recherches ;
  li À un référent d’administration centrale qui souhaite accéder à des statistiques d’offres de stage au sein de son administration ;
  li À un référent départemental qui souhaite accéder à des statistiques d’offres de stage au sein de son département.
p Chaque Utilisateur détermine son mot de passe pour pouvoir finaliser son inscription.

h3.my-2 4.2 Autres fonctionnalités

h3.my-2 4.2.1 Fonctionnalités proposées au profil “Équipe pédagogique”

p Lorsque l’Utilisateur a choisi le profil “Équipe pédagogique”, il peut notamment : 
p Créer un compte en saisissant les informations nécessaires (ville ou collège, classe, prénom, nom, fonction, adresse e-mail, mot de passe) ;
p Gérer son profil ;
p Suivre l’évolution de la recherche de stages de ses élèves.

h3.my-2 4.2.2 Fonctionnalités proposées au profil “Référent administratif”

p Lorsque l’Utilisateur a choisi le profil “Référent administratif”, il peut notamment : 
p Créer un compte en saisissant les informations nécessaires (prénom, nom, référent d’une administration centrale, départementale ou DSDEN, adresse e-mail, mot de passe) ;
p Gérer son profil ;
p Accéder à des statistiques relatives aux offres de stage de son administration ou département.

h2.my-4 Article 5 - Responsabilités 

h3.my-2 5.1 L’Éditeur de la Plateforme 

p Les sources des informations diffusées sur la Plateforme sont réputées fiables mais la Plateforme ne garantit pas qu’elle soit exempte de défauts, d’erreurs ou d’omissions.
p L'Éditeur s’autorise à suspendre ou révoquer n’importe quel compte et toutes les actions réalisées par ce biais, s’il estime que l’usage réalisé du service porte préjudice à son image ou ne correspond pas aux exigences de sécurité.
p L'Éditeur s’engage à la sécurisation de la Plateforme, notamment en prenant toutes les mesures nécessaires permettant de garantir la sécurité et la confidentialité des informations fournies. L'Éditeur fournit les moyens nécessaires et raisonnables pour assurer un accès continu, sans contrepartie financière, à la Plateforme.
p Il se réserve la liberté de faire évoluer, de modifier ou de suspendre, sans préavis, la Plateforme pour des raisons de maintenance ou pour tout autre motif jugé nécessaire.

h3.my-2 5.2 L’Utilisateur

p L’Utilisateur s’assure de garder son mot de passe secret. Toute divulgation du mot de passe, quelle que soit sa forme, est interdite. Il assume les risques liés à l’utilisation de son identifiant et mot de passe. 
p Il s’engage à ne pas commercialiser les données reçues et à ne pas les communiquer à des tiers en dehors des cas prévus par la loi. Toute information transmise par l’Utilisateur est de sa seule responsabilité.
p Il est rappelé que toute personne procédant à une fausse déclaration pour elle-même ou pour autrui s’expose, notamment, aux sanctions prévues à l’article 441-1 du code pénal, prévoyant des peines pouvant aller jusqu’à trois ans d’emprisonnement et 45 000 euros d’amende.
p L’Utilisateur s’engage à ne pas mettre en ligne de contenus ou informations contraires aux dispositions légales et réglementaires en vigueur.

h2.my-4 Article 6 - Mise à jour des conditions générales d’utilisation 

p Les termes des présentes conditions générales d’utilisation peuvent être amendés à tout moment, sans préavis, en fonction des modifications apportées à la Plateforme, de l’évolution de la législation ou pour tout autre motif jugé nécessaire. Chaque modification donne lieu à une nouvelle version qui est acceptée par les parties.

p Version 1.0 - 01/09/2019
p Version 2.0 - 06/09/2023