h1 Conditions générales d'utilisation du service de signature de mon stage de troisième
p Les présentes conditions générales d’utilisation (dites « CGUDS ») fixent le cadre juridique de la Plateforme “Monstagedetroisieme.fr” et définissent les conditions d’accès et d’utilisation des services par l’Utilisateur.

h2.my-4 Article 1 - Champ d’application
