h1.h2.mb-3 Animation sportive / Educateur sportif
h2.h4 L'offre de stage :

p Le métier d'éducateur sportif consiste à proposer des activités sportives à différents publics (enfants, jeunes, adultes). Au cours de son stage, l'élève observera le travail d'un éducateur sportif et participera aussi aux séances de sport (découverte du sport et plus d'une trentaine d'activités différentes pour les enfants et des séances de fitness, renforcement musculaire pour les adultes ou piscine).

p Pour suivre ce stage, il faut aimer le sport, être soi-même un peu sportif et être ouvert aux autres. L'accueil du stagiaire peut s'effectuer sur toutes les périodes de l'année scolaire, il y a beaucoup de demandes, donc seuls seront acceptés des stagiaires qui habitent Le Mans
h2.h4 Périodes possibles :

ul
  li 01/09/2018 - 31/08/2019
h2.h4 Secteurs

ul
  li Sport, Animation

p Référence de l'annonce 909cca35

h2.h4 Service enfance, jeunesse et Sports de la ville du Mans - Secteur Sport

p
  | Site
  = link_to "http://www.lemans.fr", "http://www.lemans.fr"

h2.h4 Lieu du stage: Le mans
