h1 Mentions légales

h2.my-3 Editeur de la Plateforme
p.my-4 La Plateforme monstagedetroisieme.fr est éditée par :
p.font-weight-bold.mt-4 Agence Nationale de la Cohésion des Territoires
p 20, Avenue de Ségur
p 75007 Paris
p Téléphone : 01 71 21 01 70

h2.my-3 Directeur de la publication
p Yves Le Breton, commissaire général à l’égalité des territoires.

h2.my-3 Hébergement de la Plateforme
p La plateforme est hébergée par :
p.font-weight-bold.mt-4 Clever Cloud SAS
p 3, rue de l’Allier
p 44000 Nantes

h2.my-3 Accessibilité
p La conformité aux normes d’accessibilité numérique est un objectif ultérieur mais nous tâchons de rendre ce site accessible à toutes et à tous.

h2.my-3 Signaler un dysfonctionnement
p Si vous rencontrez un défaut d’accessibilité vous empêchant d’accéder à un contenu ou une fonctionnalité du site, merci de nous en faire part. Si vous n’obtenez pas de réponse rapide de notre part, vous êtes en droit de faire parvenir vos doléances ou une demande de saisine au Défenseur des droits.

h2.my-3 En savoir plus
p
  | Pour en savoir plus sur la politique d’accessibilité numérique de l’État :
  = link_to 'http://references.modernisation.gouv.fr/accessibilite-numerique', 'http://references.modernisation.gouv.fr/accessibilite-numerique'

h2.my-3 Sécurité
p Le site est protégé par un certificat électronique, matérialisé pour la grande majorité des navigateurs par un cadenas. Cette protection participe à la confidentialité des échanges. En aucun cas les services associés à la plateforme ne seront à l’origine d’envoi de courriels pour demander la saisie d’informations personnelles.
