p.alert.alert-warning
  span.alert-internship-application-state= "Candidature acceptée le #{localize(internship_application.approved_at, format: :human_mm_dd)}."
  br
  = "Convention à faire signer et à envoyer"
