.fr-mb-1w.d-flex.flex-row data-controller='digit-code' data-digit-code-position-value="0"
  - 6.times do 
    input.digit-code-size data-digit-code-target='code' data-action='keyup->digit-code#onKeyUp'