- unless current_user.is_a?(Users::God)
  = render partial: 'dashboard/schools/navbar', locals: { school: @school, render_ux_guidelines: true }


= render "form"

= render partial: 'dashboard/schools/notice_school_manager', locals: { school: current_user.school } if current_user.is_a?(Users::SchoolManagement) && !current_user.school.has_weeks_on_current_year? 