= javascript_pack_tag 'rails_admin', defer: true
fieldset
  = react_component("inputs/AddressInput", { resourceName: form.object.class_name,
                              currentStreet: form.object.street,
                              currentCity: form.object.city,
                              currentZipcode: form.object.zipcode,
                              currentLatitude: form.object.coordinates.try(:lat).try(:to_f),
                              currentLongitude: form.object.coordinates.try(:lng).try(:to_f),
                              currentFullAddress: form.object.formatted_autocomplete_address})

