@import "../stylesheets/bootstrap/bootstrap";

// would like to use tinytypo from npm / yarn not yet ready ;
// once ready ; import nicely - follow https://github.com/tetue/tinytypo/issues/27
// @import '../src/stylesheets/tinytypo';

@import '../stylesheets/rg2a';
@import '../stylesheets/common';
@import '../stylesheets/layout';
@import '../stylesheets/internship_offers';
