.d-flex.justify-content-between
  .first-advice
    = image_tag asset_pack_path('media/images/homepage/01.svg'),
                alt: "Pas d'offre - premier conseil",
                class: 'fr-mt-2w'
    h3.h3.text-dark.fr-my-2w Privilégiez décembre et janvier 
    p 
      |
        90% des élèves ont leur semaine de stage sur ces deux mois !
  .second-advice
    = image_tag asset_pack_path('media/images/homepage/02.svg'),
                alt: "Pas d'offre - premier conseil",
                class: 'fr-mt-2w'
    h3.h3.text-dark.fr-my-2w Utilisez un vocabulaire adapté
    p
      |
        Les élèves de troisième ont 14 ans. Un vocabulaire simple et 
        des détails pourront les guider dans leur choix de stage.
  .third-advice
    = image_tag asset_pack_path('media/images/homepage/03.svg'),
                alt: "Pas d'offre - premier conseil",
                class: 'fr-mt-2w'
    h3.h3.text-dark.fr-my-2w Répondez à toutes les candidatures
    p 
      |
        Les candidatures sans réponses démotivent les élèves. En déposant
          cette offre, faites le choix de répondre à toutes les
          candidatures, même celles que vous refusez !