.sort-links
  = render partial: "dashboard/internship_offers/sort_column_head", locals: { order: order, direction: "asc", sort_by_i18n: sort_by_i18n}
  = render partial: "dashboard/internship_offers/sort_column_head", locals: { order: order, direction: "desc", sort_by_i18n: sort_by_i18n}
