= link_to internship_offer_path(internship_offer), class: 'col-12 internship-item py-2', data: { "test-id": "#{internship_offer.id}"
  p.text-strong.internship-item-title.mb-0= internship_offer.title
  p.text-muted.internship-item-city.small.mb-0= internship_offer.city %>

