- splitted_str = Presenters::WeekList.new(weeks: weeks).split_range_string

= splitted_str&.first
strong
  = splitted_str&.second&.sub(/\s*:\s*/,'')
br
.small.font-weight-bolder.text-black-50= splitted_str&.third