<div class="col-4">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Mes classes</h5>
      <p class="card-text">
        <ul>
          <li>3eme a</li>
          <li>3eme b</li>
          <li>3eme c</li>
        </ul>
      </p>
      <a href="#" class="btn btn-primary">Saisir les classes</a>
    </div>
  </div>
</div>
