<div class="card <%= current_user&.school ? '' : 'd-none' %>">
  <div class="card-body">
    <h2 class="h6 card-title">Mes classes</h2>
    <p class="card-text">
      <ul class="nav-no-bullet">
        <%= render partial: "class_rooms/class_room", collection: Array(current_user&.school&.class_rooms), locals: { school: current_user.school } %>
      </ul>
    </p>
    <% if current_user&.school %>
      <%= link_to "Ajouter", new_dashboard_school_class_room_path(current_user.school.to_param), class: 'btn btn-primary' %>
    <% else %>
      Choisir un collège
    <% end %>
  </div>
</div>
