<div class="card">
  <div class="card-body">
    <p><%= current_user.name %></p>
    <% if current_user.school %>
      <p class="card-text"><%= current_user.school.name %></p>
      <% if current_user.respond_to?(:class_room) %>
        <p class="card-text">
          <%= current_user.class_room || "Vous n'avez pas encore sélectionné de classe" %>
        </p>
      <% end %>
    <% else %>
      <p class="card-text">Commencez par choisir votre collège.</p>
    <% end %>
    <%= link_to "Modifier", account_edit_path, class: 'btn btn-primary' %>
  </div>
</div>
