<div class="card">
  <div class="card-body">
    <h5 class="card-title">Mes classes</h5>
    <p class="card-text">
      <ul>
        <% Array(current_user&.school&.class_rooms).each do |class_room| %>
          <li><%= render "class_rooms/item", school: current_user.school, class_room: class_room %></li>
        <% end %>
      </ul>
    </p>
    <% if current_user&.school %>
      <%= link_to "Ajouter", new_school_class_room_path(current_user.school.to_param), class: 'btn btn-primary' %>
    <% else %>
      Choisir un collège
    <% end %>
  </div>
</div>
