<h2 class="mt-3">Mes classes</h2>
<ul>
  <%= render partial: "class_rooms/class_room", collection: Array(current_user&.school&.class_rooms), locals: { school: current_user.school } %>
</ul>

<% if current_user&.school %>
  <%= link_to "Ajouter", new_school_class_room_path(current_user.school.to_param), class: 'btn btn-primary' %>
<% else %>
  Veuillez d'abord choisir un collège
<% end %>
