<div class="col-4">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Semaines de stage</h5>
      <p class="card-text">
       <ul>
          <% current_user.school.weeks.each do |week| %>
          <li><%= week.select_text_method %></li>
          <% end %>
       </ul>
      </p>
      <%= link_to "Changer les semaines de stages", edit_school_path(current_user.school), class: 'btn btn-primary' %>
    </div>
  </div>
</div>
