<div class="col-4">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Semaines de stage</h5>
      <p class="card-text">
       <ul>
          <li>Semaine du 3 au 15</li>
       </ul>
      </p>
      <a href="#" class="btn btn-primary">Changer les semaines de stages</a>
    </div>
  </div>
</div>
