<h1>Bienvenue romi</h1>
<div class="row">
  <% if can? :edit, User %>
    <%= render "edit_account_card" %>
  <% end %>
  <% if can? :edit, School %>
    <%= render "edit_school_card" %>
  <% end %>
  <% if can? :new, ClassRoom %>
    <%= render "edit_school_class_rooms_card" %>
  <% end %>
</div>
