<h1>Mon compte</h1>
<div class="row">
  <% if can? :edit, User %>
    <div class="col-sm-6 col-md-4">
      <%= render "edit_account_card" %>
    </div>
  <% end %>
  <% if can? :edit, School %>
    <div class="col-sm-6 col-md-4">
      <%= render "edit_school_card" %>
    </div>
  <% end %>
  <% if can? :new, ClassRoom %>
    <div class="col-sm-6 col-md-4">
      <%= render "edit_school_class_rooms_card" %>
    </div>
  <% end %>
</div>
