- new_record = @internship_offer_info.new_record?
- when_new = dashboard_stepper_internship_offer_infos_path(organisation_id: params[:organisation_id])
- unless new_record
  - when_old = dashboard_stepper_internship_offer_info_path(id: @internship_offer_info,
                                                            organisation_id: params[:organisation_id],
                                                            hosting_info_id: params[:hosting_info_id],
                                                            practical_info_id: params[:practical_info_id],
                                                            internship_offer_info_id: params[:internship_offer_info_id])
= form_with( model: @internship_offer_info,
             url: (new_record ? when_new : when_old),
             scope: :internship_offer_info,
             method: (new_record ? 'POST' : 'PATCH' ),
             data: { turbo: false } ) do |form|

  = render "dashboard/stepper/steps", { current_step_number: 2,
                                        total_steps: 5,
                                        current_step_title: "L'offre de stage",
                                        next_step_title: "L'accueil du stagiaire" }

  = render "layouts/form_errors",
            resource: @internship_offer_info,
            resource_name: :internship_offer_info

  = render 'form_fields', { form: form,
                            resource: @internship_offer_info,
                            submit_button: true}

div [data-controller='broadcast-coordinates-changed'
     data-broadcast-coordinates-changed-latitude-value=@organisation.coordinates.lat
     data-broadcast-coordinates-changed-longitude-value=@organisation.coordinates.lon]