= render partial: 'dashboard/navbar', locals: { school: @school, applications_badge: @applications }

- @applications_by_class_room.each do |class_room, applications|
  = render partial: 'class_room_tbody', locals: { class_room: class_room, applications: applications }
