.row.align-items-center.no-gutters.d-none.d-sm-block
  .col-12
    = react_component large_screen_react_component,
                      props: { filterOptions: presenter.filter_options }
.row.align-items-center.no-gutters.d-block.d-sm-none [
  data-controller='filtering'
  data-filtering-field-value="#{field}"
  ]
  .col-12.m-0.form-group.text-center.center-text.custom-label-container
    = select_tag field,
                  options_for_select(presenter.mobile_tag_filter_options, matching_param),
                  class: 'custom-select',
                  id: "filtering_#{field}",
                  'data-action':'filtering#handleChange',
                  'data-target':'filtering.filter'
    label for="#{"filtering_#{field}"}"
      = presenter.filter_options[:component_label]
