- url = @class_room.persisted? ? dashboard_school_class_room_path(@school, @class_room, id: @class_room) : dashboard_school_class_rooms_path(@school, @class_room)
= form_with model: @class_room,
            scope: :class_room,
            url: url,
            method: (@class_room.new_record? ? 'POST' : 'PATCH' ),
            local: true  do |form|

  = form.rg2a_explain_required_asterisk
  = render "layouts/form_errors", resource: @class_room, resource_name: :class_room

  .form-group
    = form.label :name do
      | Nom de la classe
      = form.rg2a_required_content_tag
    = form.text_field :name,
                      required: true,
                      class: 'form-control col-lg-6',
                      placeholder: 'Nom de la classe'


  .form-group
    = form.label :school_track do
      | Filière
      = form.rg2a_required_content_tag
    = form.select :school_track,
                    options_for_select(options_for_school_tracks, @class_room.school_track),
                    { prompt: school_track_options_for_default },
                    { class: "form-control col-lg-6", required: true }

  .actions
    = form.submit 'Enregistrer', class: 'btn btn-primary'
    = link_to 'Annuler',
              dashboard_school_class_rooms_path(@school),
              class: 'btn btn-link'
