h1 Mon tableau

= render partial: 'dashboard/navbar', locals: { school: @school }

h2 Mes classes

table.table.table-striped.table-bordered.table-hover.table-caption-top
  tbody= render partial: "class_rooms/class_room", collection: Array(@school.class_rooms), locals: { school: @school }

= link_to "Ajouter", new_dashboard_school_class_room_path(@school), class: 'btn btn-dark'

