<% unless flash.keys.size.zero? %>
  <div class="row">
    <% %w[primary secondary success danger warning info light dark].map do |bootstrap_flash_kind| %>
      <% if flash.keys.include?(bootstrap_flash_kind) %>
        <div
          id="alert-<%= bootstrap_flash_kind %>"
          class="alert alert-<%= bootstrap_flash_kind %> col-12 mt-3 mb-3"
          role="alert">
          <%= flash[bootstrap_flash_kind] %>
        </div>
        <% end %>
    <% end %>

  </div>
<% end %>
