<% unless flash.keys.size.zero? %>
  <% %w[primary secondary success danger warning info light dark notice alert].map do |flash_kind| %>
    <% if flash.keys.include?(flash_kind) %>
      <% bootstrap_style = case flash_kind when 'notice' then 'success' when 'alert' then 'danger' else flash_kind end %>
      <div
        id="alert-<%= bootstrap_style %>"
        class="alert alert-<%= bootstrap_style %> col-12 my-3"
        role="alert">
        <%= flash[flash_kind] %>
      </div>
      <% end %>
  <% end %>
<% end %>
