.row.no-gutters.pt-4
  .col-md-6.col-sm-12
    h2.h5.pt-3.pl-5.text-dark Suivez-nous sur les réseaux sociaux
  .col-md-6.col-sm-12.text-right
    .social_network
      = link_to "https://twitter.com/monstagede3eme",
              class: 'rg2a-external',
              target: '_blank',
              aria: {label: "Twitter parle de nous"} do
        = image_tag asset_pack_path('media/images/homepage/social_networks/twitter.svg'),
                    alt: "Mon stage de troisieme sur Twitter",
                    width: 33,
                    class: 'mx-3 hover-blue'
      = link_to "https://www.linkedin.com/company/mon-stage-de-3e",
              class: 'rg2a-external',
              target: '_blank',
              aria: {label: "LinkedIn parle de nous"} do
        = image_tag asset_pack_path('media/images/homepage/social_networks/linked_in.svg'),
                    alt: "Mon stage de troisieme sur LinkedIn",
                    width: 33,
                    class: 'mx-3 hover-blue'
      = link_to "https://www.instagram.com/monstagede3eme/",
              class: 'rg2a-external',
              target: '_blank',
              aria: {label: "Instagram parle de nous"} do
        = image_tag asset_pack_path('media/images/homepage/social_networks/insta.svg'),
                    alt: "Mon stage de troisieme sur Instagram",
                    width: 33,
                    class: 'ml-3 hover-blue'

.row.footer-content.no-gutters.bg-light-blue
  .col-md-5.col-sm-12.pb-5.pt-4
    p.mt-1.print-footer.pl-5
      | Un service fourni par l'incubateur des
      br
      |Territoires de l'ANCT
      br
      =link_to 'https://incubateur.anct.gouv.fr/', target: '_blank'
        = image_tag asset_pack_path('media/images/homepage/sponsors/incubateur-anct.png'),
                    alt: "Logo beta gouv",
                    class: 'mt-3 d-print-none footer-logo-img',
                    'aria-hidden': true,
                    'width': '250px'

  .col-md-7.col-sm-12.d-flex.align-items-center
    .row.no-gutters.font-weight-bold-sm.d-print-none
      .col-md-6.col-sm-12.pr-1.pl-5
        ul.nav.flex-column
          li.nav-item= link_to "Qui sommes-nous&nbsp;?".html_safe,
                                "https://incubateur.anct.gouv.fr/",
                                class: 'nav-link px-0 py-1',
                                title: "Qui sommes-nous ? (nouvelle fenêtre)",
                                target: '_blank',
                                rel: "external noopener noreferrer"

          li.nav-item= link_to "Mentions légales",
                                mentions_legales_path,
                                class: 'nav-link px-0 py-1'

          li.nav-item= link_to "Conditions d'utilisation",
                                conditions_d_utilisation_path,
                                class: 'nav-link px-0 py-1'

          li.nav-item= link_to "Politique de confidentialité",
                                politique_de_confidentialite_path,
                                class: 'nav-link px-0 py-1'

          li.nav-item= link_to "Accessibilité",
                                accessibilite_path,
                                class: 'nav-link px-0 py-1'

      .col-md-6.col-sm-12.pr-1.pl-5
        ul.nav.flex-column
          li.nav-item= link_to "Centre d'aide",
                                helpdesk_url,
                                class: 'nav-link px-0 py-1',
                                target: '_blank',
                                rel: "external noopener noreferrer",
                                title: "Consulter notre centre d'aide"

          li.nav-item= link_to "Nous contacter",
                                contact_path,
                                class: 'nav-link px-0 py-1',
                                title: "Contacter le support de la plateforme monstagedetroisieme.fr"

          li.nav-item= link_to "Statistiques", statistiques_path, class: 'nav-link px-0 py-1', title: "Statistiques d'utilisation du service monstagedetroisieme.fr"

          li.nav-item
            = link_to "#{root_url}/modes_d_emploi/MS3_Mode-d-emploi-global-2021.pdf",
                      title: "Accéder au guide d'utilisation (nouvelle fenêtre)",
                      class: 'nav-link px-0 py-1',
                      target: '_blank',
                      rel: "external noopener noreferrer" do

               = "Guide d'utilisation (PDF – 6.5MB)"



.row.d-print-none.bg-light-blue
  .col-12 [
    data-footer-target="placeholder"
    data-action="resize@window->footer#resize"
    ]

.bg-light-blue.d-none.fixed-footer.d-print-none [
  data-footer-target="fixedContent"
]
