<div class="fr-notice fr-notice--info d-none d-sm-block">
  <div class="fr-container" >
    <div class="fr-notice__body" >
      <p class="fr-notice__title fr-mb-0">
        Nos conditions d'utilisation ont changé, pour en savoir plus, cliquez
        <%= link_to 'sur ce lien.', 
                    conditions_d_utilisation_path,
                    target: '_blank' %>
      </p>
      <p class='fr-notice__title fr-mb-0'>
        Ainsi que notre politique de confidentialité, cliquez
        <%= link_to 'sur ce lien.', 
                    politique_de_confidentialite_path,
                    target: '_blank' %>
      </p>
    </div>
  </div>
</div>