<div class="fr-notice fr-notice--info">
  <div class="fr-container" >
    <div class="fr-notice__body" >
      <p class="fr-notice__title">
        Employeur, équipe pédagogique, référents… notre équipe se tient à votre disposition, tous les vendredis de 14h à 15h, pour répondre à vos questions sur la plateforme. Inscrivez-vous en cliquant
        <%= link_to 'sur ce lien',
                    register_to_webinar_path ,
                    target: '_blank' %>
      </p>
    </div>
  </div>
</div>