p style=p_styles Bonjour #{@user.first_name},
p style=p_styles Votre professeur principal a validé votre compte, vous pouvez dès à présent vous connecter à votre compte via le lien ci-dessous.

= render(partial: "mailers/call_to_action", locals: {href: new_user_session_url, label:'Me connecter'})
