p Bonjour #{@user.first_name},
p Votre professeur principal a validé votre compte, vous pouvez dès à présent vous connecter à votre compte via le lien ci-dessous.

= link_to 'Me connecter', new_user_session_url
