.fr-callout.fr-fi-information-line
  p.fr-callout__title Dates de stage
  p.fr-callout__text.test-missing-school-weeks
    |
      Attention, vérifiez bien que les dates de stage proposées dans l'annonce 
      correspondent à vos dates de stage. Votre chef d'établissement n'a en 
      effet pas renseigné les semaines de stage de votre établissement.
