= render "dashboard/internship_offers/internship_applications/action_modal",
          internship_application:internship_application,
          aasm_target: :cancel_by_employer!,
          modal_opener_label: 'Annuler',
          subtitle: "Motif de l'annulation",
          message: '',
          rich_text: true,
          modal_id: "cancel-internship-application-#{internship_application.id}",
          fa_icon: "fr-icon-close-line"
