= link_to dashboard_internship_offer_internship_application_path(internship_application.internship_offer, internship_application, transition: :cancel!), method: :patch, class: 'btn btn-danger mx-1' do
  .fas.fa-trash.mr-1
  = "Annuler la confirmation"
