= render "dashboard/internship_offers/internship_applications/action_modal",
          internship_application: internship_application,
          aasm_target: :examine!,
          modal_opener_label: 'Etudier',
          subtitle: nil,
          message: "En cliquant sur “Étudier”, vous confirmez que vous allez étudier " \
                   "la candidature de cet élève et lui donner dans les 15 prochains jours.",
          rich_text: true,
          input_title: 'Message personnalisé',
          info_notice_title: "L’élève n’a pas vos coordonnées",
          info_notice_message: "Si vous attendez une réponse de l’élève, transmettez-lui votre adresse email ou votre numéro de téléphone.",
          modal_id: "examine-internship-application-#{internship_application.id}",
          fa_icon: "fr-icon-settings-5-line",
          opened_modal: false
