= link_to 'Transférer',
          edit_transfer_internship_offer_internship_application_path(@internship_application.internship_offer, uuid: @internship_application.uuid),
          class: 'fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-logout-box-r-line'